<div class="general-content">
  <app-admin-header></app-admin-header>

  <main id="content">
    <div class="update-subfield-div">
      <div class="d-flex justify-content-end mt-2">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-raised p-button-primary-color btn-primary-color"
          [routerLink]="['/admin/brands']"
        >
          {{ "general.brands" | translate }}
        </button>
      </div>
      <div class="d-flex justify-content-end mt-2">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-raised p-button-primary-color btn-primary-color"
          [routerLink]="['/admin/authors']"
        >
          {{ "general.authors" | translate }}
        </button>
      </div>
      <div class="d-flex justify-content-end mt-2">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-raised p-button-primary-color btn-primary-color"
          [routerLink]="['/admin/categories']"
        >
          {{ "general.categories" | translate }}
        </button>
      </div>
    </div>

    <p-toast></p-toast>

    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="{{ 'general.new' | translate }}"
          icon="pi pi-plus"
          class="p-button-success mr-2"
          (click)="openNew()"
        ></button>
        <button
          pButton
          pRipple
          label="{{ 'general.delete' | translate }}"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteSelectedVideos()"
          [disabled]="!selectedVideos || !selectedVideos.length"
        ></button>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="allVideos"
      [rows]="12"
      [paginator]="true"
      [globalFilterFields]="[
        'title',
        'unitpricettc',
        'unitpriceht',
        'stock',
        'image',
        'year',
        'brand'
      ]"
      [(selection)]="selectedVideos"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="{{
        'general.showing_entries_message'
          | translate
            : {
                first: '{first}',
                last: '{last}',
                totalRecords: '{totalRecords}'
              }
      }}"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="manage-videos">
          <h5 class="m-0">{{ "admin_videos.manage_videos" | translate }}</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="{{ 'general.search' | translate }}"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th id="table-header-checkbox" style="display: table-cell !important; width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th id="table-header-image" style="display: table-cell !important">
            {{ "admin_videos.image" | translate }}
          </th>
          <th
            id="table-header-title"
            style="display: table-cell !important; min-width: 15rem"
            pSortableColumn="title"
          >
            {{ "admin_videos.title" | translate }}
            <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th id="table-header-pricettc" style="display: table-cell !important">
            {{ "admin_videos.price_ttc" | translate }}
          </th>
          <th
            id="table-header-unitpriceht"
            style="display: table-cell !important"
            pSortableColumn="unitpriceht"
          >
            {{ "admin_videos.price_ht" | translate }}
            <p-sortIcon field="unitpriceht"></p-sortIcon>
          </th>
          <th id="table-header-tva" style="display: table-cell !important" pSortableColumn="taxe.tva">
            TVA
            <p-sortIcon field="taxe.tva"></p-sortIcon>
          </th>
          <th
            id="table-header-year"
            style="display: table-cell !important; min-width: 10rem"
            pSortableColumn="year"
          >
            {{ "admin_videos.year" | translate }}
            <p-sortIcon field="year"></p-sortIcon>
          </th>
          <th
            id="table-header-stock"
            style="display: table-cell !important; min-width: 10rem"
            pSortableColumn="stock"
          >
            {{ "admin_videos.stock" | translate }}
            <p-sortIcon field="stock"></p-sortIcon>
          </th>
          <th
            id="table-header-brand"
            style="display: table-cell !important; min-width: 15rem"
            pSortableColumn="brand"
          >
            {{ "admin_videos.brand" | translate }}
            <p-sortIcon field="brand"></p-sortIcon>
          </th>
          <th id="table-header-void" style="display: table-cell !important"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-video>
        <tr>
          <td>
            <p-tableCheckbox [value]="video"></p-tableCheckbox>
          </td>
          <td>
            <img
              [src]="video.image"
              [alt]="video.title"
              width="100"
              class="img-icon"
            />
          </td>
          <td>{{ video.title }}</td>
          <td>
            {{
              getUnitpricettcFromUnitpricehtAndTva(
                video.unitpriceht,
                video.taxe?.tva
              )
            }}
            €
          </td>
          <td>{{ video.unitpriceht }} €</td>
          <td>{{ video.taxe.tva }} %</td>

          <td>{{ video.year }}</td>

          <td>
            <span
              class="product-badge"
              [ngClass]="{
                'status-instock': video.stock > 50,
                'status-lowstock': video.stock <= 50 && video.stock > 0,
                'status-outofstock': video.stock <= 0
              }"
              >{{ video.stock }}</span
            >
          </td>
          <td>{{ video.brand.name }}</td>

          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editVideo(video)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteVideo(video)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          {{
            "admin_videos.total_videos_message"
              | translate : { videoLength: allVideos ? allVideos.length : 0 }
          }}
        </div>
      </ng-template>
    </p-table>

    <p-confirmDialog
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '50vw' }"
      [baseZIndex]="10000"
      rejectButtonStyleClass="p-button-outline-danger"
      acceptButtonStyleClass="p-button-valid"
      acceptLabel="{{ 'general.yes' | translate }}"
      rejectLabel="{{ 'general.no' | translate }}"
    ></p-confirmDialog>

    <p-dialog
      [(visible)]="videoDialog"
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '50vw' }"
      header="{{ 'admin_videos.video_details' | translate }}"
      [modal]="true"
      styleClass="p-fluid"
      [dismissableMask]="true"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="title">{{ "admin_videos.title" | translate }}</label>
          <input
            type="text"
            pInputText
            id="title"
            [(ngModel)]="video.title"
            required
            autofocus
          />
          <small class="p-error" *ngIf="submitted && !video.title"
            >{{ "admin_videos.title" | translate }}
            {{ "general.is_required" | translate }}</small
          >
        </div>

        <div class="field">
          <label for="summary">{{ "admin_videos.summary" | translate }}</label>
          <textarea
            id="summary"
            pInputTextarea
            [(ngModel)]="video.summary"
            required
            rows="5"
            cols="20"
          ></textarea>
          <small class="p-error" *ngIf="submitted && !video.summary"
            >{{ "admin_videos.summary" | translate }}
            {{ "general.is_required" | translate }}</small
          >
        </div>

        <div class="field">
          <label for="priceht">{{ "admin_videos.price_ht" | translate }}</label>
          <p-inputNumber
            id="priceht"
            [(ngModel)]="video.unitpriceht"
            mode="currency"
            currency="EUR"
            locale="fr-FR"
            [min]="0"
            [required]="true"
            [allowEmpty]="false"
          ></p-inputNumber>
          <small class="p-error" *ngIf="submitted && !video.unitpriceht"
            >{{ "admin_videos.price_ht" | translate }}
            {{ "general.is_required" | translate }}</small
          >
        </div>

        <div class="field">
          <label for="stock">{{ "admin_videos.stock" | translate }}</label>
          <p-inputNumber
            id="stock"
            [(ngModel)]="video.stock"
            [min]="0"
            [required]="true"
            [allowEmpty]="false"
          ></p-inputNumber>
          <small class="p-error" *ngIf="submitted && !video.stock"
            >{{ "admin_videos.stock" | translate }}
            {{ "general.is_required" | translate }}</small
          >
        </div>

        <div class="field">
          <label for="year">{{ "admin_videos.year" | translate }}</label>
          <p-inputNumber
            id="year"
            [(ngModel)]="video.year"
            [min]="1850"
            mode="decimal"
            [useGrouping]="false"
            [required]="true"
            [allowEmpty]="false"
          ></p-inputNumber>
          <small class="p-error" *ngIf="submitted && !video.year"
            >{{ "admin_videos.year" | translate }}
            {{ "general.is_required" | translate }}</small
          >
        </div>

        <div class="field">
          <label>TVA</label><br />
          <p-dropdown
            [options]="taxes"
            [(ngModel)]="video.taxe"
            optionLabel="tva"
            placeholder="{{ 'admin_videos.select_a_taxe' | translate }}"
          >
            <ng-template pTemplate="selectedItem">
              <div *ngIf="video.taxe">
                <div>{{ video.taxe.tva }} %</div>
              </div>
            </ng-template>
            <ng-template let-taxe pTemplate="item">
              <div>{{ taxe.tva }} %</div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="field">
          <label>{{ "admin_videos.brand" | translate }}</label
          ><br />
          <p-dropdown
            [options]="brands"
            [(ngModel)]="video.brand"
            placeholder="{{ 'admin_videos.select_a_brand' | translate }}"
            optionLabel="name"
          ></p-dropdown>
        </div>

        <div class="field">
          <label>{{
            "admin_videos.cover_videos" | translate
          }}</label
          ><br />
          <input
            #imageInput
            type="file"
            accept="image/*"
            class="form-control mb-3 file-upload"
            (change)="addImageToServer($event)"
            name="coverImage"
          />
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="{{ 'general.cancel' | translate }}"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="{{ 'general.save' | translate }}"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveVideo()"
          [disabled]="
            !video.title || !video.summary || !video.unitpriceht || !video.year
          "
        ></button>
      </ng-template>
    </p-dialog>
  </main>
  <app-admin-footer></app-admin-footer>
</div>
