<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container">
      <img
        id="contactImg"
        src="https://www.thibaultmorizet.fr/assets/background-images/contact.png"
        alt="contactImg"
      />
      <img
        id="contact2Img"
        src="https://www.thibaultmorizet.fr/assets/background-images/contact2.png"
        alt="contact2Img"
      />
      <div class="contact-container">
        <div>
          <p class="title text-center">{{ 'general.contact' | translate }}</p>
          <form
            #contactForm="ngForm"
            role="contact"
            (ngSubmit)="sendContactMail()"
          >
            <div class="input-group mb-3">
              <input
                id="email"
                name="email"
                placeholder="{{ 'general.email' | translate }}"
                type="email"
                pInputText
                [(ngModel)]="contactInfo.email"
                class="w-100"
                required
              />
            </div>

            <div class="input-group mb-3">
              <input
                id="subject"
                name="subject"
                placeholder="{{ 'contact.subject' | translate }}"
                type="text"
                pInputText
                [(ngModel)]="contactInfo.subject"
                class="w-100"
              />
            </div>
            <div class="input-group mb-3">
              <textarea
                [(ngModel)]="contactInfo.message"
                placeholder="{{ 'contact.message' | translate }}"
                id="message"
                name="message"
                type="text"
                cols="30"
                rows="10"
                class="form-control mb-3"
                required
              ></textarea>
            </div>

            <div class="d-flex justify-content-end mt-2">
              <button
                pButton
                pRipple
                type="submit"
                class="p-button-raised p-button-primary-color btn-primary-color"
                [disabled]="!contactForm.valid && contactInfo.subject"
              >
              {{ "contact.send_mail" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
