.contact-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 2em 1em;
    backdrop-filter: blur(2px);
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
    font-weight: 400;
}

.contact-container a {
    color: #30336B;
    text-decoration: none;
}

.container:has(.contact-container) {
    display: flex;
    justify-content: center;
    position: relative;
}

#contactImg {
    display: none;
}

#contact2Img {
    display: none;
}

@media (min-width: 1000px) {
    .contact-container {
        max-width: 700px;
    }

    #contactImg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        max-width: 550px;
    }

    #contact2Img {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        max-width: 550px;
    }
}

@media (min-width: 1800px) {

    #contactImg {
        max-width: 800px;
    }

    #contact2Img {
        max-width: 800px;
    }

    .contact-container {
        font-size: .8rem;
    }

    .container:has(.contact-container) {
        max-width: 1600px !important;
    }

}

@media (min-width: 2200px) {
    .container:has(.contact-container) {
        max-width: 1950px !important;
    }

}