.p-component {
    font-family: "Quicksand", Arial, sans-serif !important;
}

.p-datatable .p-datatable-thead>tr>th, .p-datatable .p-datatable-tbody>tr>td {
    text-align: center !important;
}

.book-badge.status-instock {
    background: #C8E6C9;
    color: #256029;
}

.book-badge.status-lowstock {
    background: #FEEDAF;
    color: #8a5340;
}

.book-badge.status-outofstock {
    background: #FFCDD2;
    color: #c63737;
}

.book-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.p-datatable .p-datatable-header {
    display: flex;
    justify-content: space-between;
}

.img-icon {
    width: 150px;
    height: 200px;
    border-radius: 15px;
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
}

.p-button.p-button-success, .p-buttonset.p-button-success>.p-button, .p-splitbutton.p-button-success>.p-button, .p-button.p-button-warning, .p-buttonset.p-button-warning>.p-button, .p-splitbutton.p-button-warning>.p-button, .p-button.p-button-danger, .p-buttonset.p-button-danger>.p-button, .p-splitbutton.p-button-danger>.p-button {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.book-buttons-div, .book-img-div {
    justify-content: center !important;
}

.p-input-icon-left, .p-input-icon-left input {
    width: 180px;
}

.p-button {
    padding: 0.75rem;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0;
}

#pr_id_2 .p-datatable-tbody>tr>td {
    display: table-cell !important;
}

.p-datatable .p-datatable-tbody>tr>td {
    border: 1px solid #dee2e6 !important;
    border-width: 0 0 1px 0 !important;
}

.p-datatable-wrapper{
    width: 100%;
    overflow-x: scroll;
}