<div class="general-content">
  <app-admin-header></app-admin-header>

  <main id="content">
    <p-toast></p-toast>

    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success mr-2"
          (click)="openNew()"
        ></button>
        <button
          pButton
          pRipple
          label="Delete"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteSelectedBooks()"
          [disabled]="!selectedBooks || !selectedBooks.length"
        ></button>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="allBooks"
      [rows]="12"
      [paginator]="true"
      [globalFilterFields]="['title']"
      [(selection)]="selectedBooks"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="manage-books">
          <h5 class="m-0">Manage books</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target, 'contains')"
              placeholder="Search..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="display: table-cell !important; width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="display: table-cell !important">Image</th>
          <th
            style="display: table-cell !important; min-width: 15rem"
            pSortableColumn="title"
          >
            Title <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th
            style="display: table-cell !important"
            pSortableColumn="unitpricettc"
          >
            Price TTC <p-sortIcon field="unitpricettc"></p-sortIcon>
          </th>
          <th
            style="display: table-cell !important"
            pSortableColumn="unitpriceht"
          >
            Price HT <p-sortIcon field="unitpriceht"></p-sortIcon>
          </th>
          <th
            style="display: table-cell !important; min-width: 10rem"
            pSortableColumn="format.name"
          >
            Format <p-sortIcon field="format.name"></p-sortIcon>
          </th>
          <th
            style="display: table-cell !important; min-width: 10rem"
            pSortableColumn="editor.name"
          >
            Editor <p-sortIcon field="editor.name"></p-sortIcon>
          </th>

          <th
            style="display: table-cell !important; min-width: 10rem"
            pSortableColumn="isbn"
          >
            ISBN <p-sortIcon field="isbn"></p-sortIcon>
          </th>

          <th
            style="display: table-cell !important; min-width: 10rem"
            pSortableColumn="year"
          >
            Year <p-sortIcon field="year"></p-sortIcon>
          </th>
          <th
            style="display: table-cell !important; min-width: 10rem"
            pSortableColumn="stock"
          >
            Stock <p-sortIcon field="stock"></p-sortIcon>
          </th>
          <th style="display: table-cell !important">Author</th>
          <th style="display: table-cell !important">Type</th>
          <th style="display: table-cell !important"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-book>
        <tr>
          <td>
            <p-tableCheckbox [value]="book"></p-tableCheckbox>
          </td>
          <td>
            <img
              [src]="book.image"
              [alt]="book.title"
              width="100"
              class="img-icon"
            />
          </td>
          <td>{{ book.title }}</td>
          <td>{{ book.unitpricettc }} €</td>
          <td>{{ book.unitpriceht }} €</td>
          <td>{{ book.format.name }}</td>
          <td>{{ book.editor.name }}</td>

          <td>{{ book.isbn }}</td>
          <td>{{ book.year }}</td>

          <td>
            <span
              class="book-badge"
              [ngClass]="{
                'status-instock': book.stock > 50,
                'status-lowstock': book.stock <= 50 && book.stock > 0,
                'status-outofstock': book.stock <= 0
              }"
              >{{ book.stock }}</span
            >
          </td>
          <td>
            <span *ngFor="let anAuthor of book.author"
              >{{ anAuthor.firstname }} {{ anAuthor.lastname }} <br
            /></span>
          </td>
          <td>
            <span *ngFor="let aType of book.type">{{ aType.name }} <br /></span>
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editBook(book)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deletebook(book)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are {{ allBooks ? allBooks.length : 0 }} books.
        </div>
      </ng-template>
    </p-table>

    <p-confirmDialog
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '50vw' }"
      [baseZIndex]="10000"
      rejectButtonStyleClass="p-button-outline-danger"
      acceptButtonStyleClass="p-button-valid"
    ></p-confirmDialog>

    <p-dialog
      [(visible)]="bookDialog"
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '50vw' }"
      header="Product Details"
      [modal]="true"
      styleClass="p-fluid"
      [dismissableMask]="true"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="title">Title</label>
          <input
            type="text"
            pInputText
            id="title"
            [(ngModel)]="book.title"
            required
            autofocus
          />
          <small class="p-error" *ngIf="submitted && !book.title"
            >Title is required.</small
          >
        </div>

        <div class="field">
          <label for="description">Description</label>
          <textarea
            id="description"
            pInputTextarea
            [(ngModel)]="book.summary"
            required
            rows="5"
            cols="20"
          ></textarea>
          <small class="p-error" *ngIf="submitted && !book.summary"
            >Summary is required.</small
          >
        </div>

        <div class="field">
          <label for="name">ISBN</label>
          <input
            type="text"
            pInputText
            id="isbn"
            [(ngModel)]="book.isbn"
            required
            autofocus
          />
          <small class="p-error" *ngIf="submitted && !book.isbn"
            >ISBN is required.</small
          >
        </div>

        <div class="field">
          <label for="pricettc">Price TTC</label>
          <p-inputNumber
            id="pricettc"
            [(ngModel)]="book.unitpricettc"
            mode="currency"
            currency="EUR"
            locale="fr-FR"
            [min]="0"
            [required]="true"
            [allowEmpty]="false"
          ></p-inputNumber>
          <small class="p-error" *ngIf="submitted && !book.unitpricettc"
            >Price TTC is required.</small
          >
        </div>

        <div class="field">
          <label for="priceht">Price HT</label>
          <p-inputNumber
            id="priceht"
            [(ngModel)]="book.unitpriceht"
            mode="currency"
            currency="EUR"
            locale="fr-FR"
            [min]="0"
            [required]="true"
            [allowEmpty]="false"
          ></p-inputNumber>
          <small class="p-error" *ngIf="submitted && !book.unitpriceht"
            >Price HT is required.</small
          >
        </div>

        <div class="field">
          <label for="stock">Stock</label>
          <p-inputNumber
            id="stock"
            [(ngModel)]="book.stock"
            [min]="0"
            [required]="true"
            [allowEmpty]="false"
          ></p-inputNumber>
          <small class="p-error" *ngIf="submitted && !book.stock"
            >Stock is required.</small
          >
        </div>

        <div class="field">
          <label for="year">Year</label>
          <p-inputNumber
            id="year"
            [(ngModel)]="book.year"
            [min]="1850"
            mode="decimal"
            [useGrouping]="false"
            [required]="true"
            [allowEmpty]="false"
          ></p-inputNumber>
          <small class="p-error" *ngIf="submitted && !book.year"
            >Year is required.</small
          >
        </div>

        <div class="field">
          <label for="editor">Editor</label><br />
          <p-dropdown
            [options]="editors"
            [(ngModel)]="book.editor"
            placeholder="Select an Editor"
            optionLabel="name"
          ></p-dropdown>
        </div>

        <div class="field">
          <label for="format">Format</label><br />
          <p-dropdown
            [options]="formats"
            [(ngModel)]="book.format"
            placeholder="Select a Format"
            optionLabel="name"
          ></p-dropdown>
        </div>

        <div class="field">
          <label for="author">Authors</label><br />
          <p-multiSelect
            [options]="authors"
            [(ngModel)]="book.author"
            defaultLabel="{{ 'book.author' | translate }}"
            optionLabel="name"
            display="chip"
          ></p-multiSelect>
        </div>

        <div class="field">
          <label for="type">Types</label><br />
          <p-multiSelect
            [options]="types"
            [(ngModel)]="book.type"
            defaultLabel="{{ 'book.type' | translate }}"
            optionLabel="name"
            display="chip"
          ></p-multiSelect>
        </div>

        <div class="field">
          <label for="coverBook">Cover book</label><br />
          <input
            #imageInput
            type="file"
            accept="image/*"
            class="form-control mb-3 file-upload"
            (change)="addImageToServer($event)"
            name="coverImage"
          />
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveBook()"
        ></button>
      </ng-template>
    </p-dialog>
  </main>
  <app-admin-footer></app-admin-footer>
</div>
