<header>
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offer mb-3 mb-lg-0 d-flex align-items-center">
          <a [routerLink]="['/books']" class="fa-2x home-link pointer">L2i</a>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
          <ul class="menu list-inline mb-0 mx-3">
            <!-- <li class="list-inline-item">
              <a href="#" data-toggle="modal" data-target="#login-modal"
                >Login</a
              >
            </li> -->
            <ng-template #registerContent let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Inscription</h4>
                <button
                  type="button"
                  class="btn-close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                ></button>
              </div>
              <div class="modal-body">
                <form #registerForm="ngForm" (ngSubmit)="register()">
                  <div class="mb-3">
                    <label class="mb-2" for="lastname">Nom</label>
                    <div class="input-group">
                      <input
                        id="lastname"
                        class="form-control mb-3"
                        placeholder="Nom"
                        name="lastname"
                        [(ngModel)]="userInscription.lastname"
                        required
                      />
                    </div>
                    <label class="mb-2" for="lastname">Prenom</label>
                    <div class="input-group">
                      <input
                        id="firstname"
                        class="form-control mb-3"
                        placeholder="Prénom"
                        name="firstname"
                        [(ngModel)]="userInscription.firstname"
                        required
                      />
                    </div>
                    <label class="mb-2" for="lastname">Email</label>
                    <div class="input-group">
                      <input
                        id="email"
                        class="form-control mb-3"
                        placeholder="Email"
                        name="email"
                        type="email"
                        [(ngModel)]="userInscription.email"
                        required
                      />
                    </div>
                    <div *ngIf="errorEmail" class="mb-2 text-danger">
                      {{ errorEmail }}
                    </div>

                    <label class="mb-2" for="lastname">Mot de Passe</label>
                    <div class="input-group">
                      <input
                        id="password"
                        class="form-control mb-3"
                        placeholder="Mot de Passe"
                        name="password"
                        type="password"
                        [(ngModel)]="userInscription.password"
                        required
                      />
                    </div>
                    <div *ngIf="errorPassword" class="mb-2 text-danger">
                      {{ errorPassword }}
                    </div>

                    <label class="mb-2" for="lastname">Mot de Passe</label>
                    <div class="input-group">
                      <input
                        id="passwordConfirm"
                        class="form-control mb-3"
                        placeholder="Confirmer le Mot de Passe"
                        name="passwordConfirm"
                        type="password"
                        [(ngModel)]="userInscription.passwordConfirm"
                        required
                      />
                    </div>
                    <div *ngIf="!isLoggedin">
                      <div>
                        <button
                          type="button"
                          (click)="signInWithGoogle()"
                          class="btn btn-google mt-3"
                        >
                          <img
                            src="./assets/logo-google.png"
                            alt="logo Google"
                            class="logo-google"
                          />
                          Connexion avec Google</button
                        ><br />
                        <button
                          class="btn btn-facebook mt-3"
                          (click)="signInWithFB()"
                        >
                          <i class="fa-brands fa-facebook mr-1"></i> Connexion
                          avec Facebook
                        </button>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                      <button
                        type="submit"
                        class="btn btn-default btn-sm btn-primary"
                        [disabled]="!registerForm.valid"
                      >
                        Continuer
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </ng-template>
            <ng-template #loginContent let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Connexion</h4>
                <button
                  type="button"
                  class="btn-close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                ></button>
              </div>
              <div class="modal-body">
                <form #loginForm="ngForm" (ngSubmit)="login()">
                  <div class="mb-3">
                    <label class="mb-2" for="lastname">Email</label>
                    <div class="input-group">
                      <input
                        id="email"
                        class="form-control mb-3"
                        placeholder="Email"
                        name="email"
                        type="email"
                        [(ngModel)]="userLogin.email"
                        required
                      />
                    </div>

                    <label class="mb-2" for="lastname">Mot de Passe</label>
                    <div class="input-group">
                      <input
                        id="password"
                        class="form-control mb-3"
                        placeholder="Mot de Passe"
                        name="password"
                        type="password"
                        [(ngModel)]="userLogin.password"
                        required
                      />
                    </div>
                    <div *ngIf="errorConnexion" class="mb-2 text-danger">
                      {{ errorConnexion }}
                    </div>

                    <div class="d-flex justify-content-end mt-2">
                      <button
                        type="submit"
                        class="btn btn-default btn-sm btn-primary"
                        [disabled]="!loginForm.valid"
                      >
                        Connexion
                      </button>
                    </div>
                  </div>
                </form>
                <div>
                  <button
                    type="button"
                    (click)="signInWithGoogle()"
                    class="btn btn-google mt-3"
                  >
                    <img
                      src="./assets/logo-google.png"
                      alt="logo Google"
                      class="logo-google"
                    />
                    Connexion avec Google</button
                  ><br />
                  <button
                    class="btn btn-facebook mt-3"
                    (click)="signInWithFB()"
                  >
                    <i class="fa-brands fa-facebook mr-1"></i> Connexion avec
                    Facebook
                  </button>
                </div>
              </div>
            </ng-template>
            <li class="list-inline-item pointer" *ngIf="connectedUser == null">
              <a (click)="loginModal(loginContent)">Connexion</a>
            </li>
            <li class="list-inline-item pointer" *ngIf="connectedUser == null">
              <a (click)="registerModal(registerContent)">Inscription</a>
            </li>
            <li
              class="list-inline-item pointer"
              *ngIf="
                connectedUser != null &&
                this.connectedUser?.roles?.includes('ROLE_ADMIN')
              "
            >
              <a [routerLink]="['/admin-home']">Paramètre Admin</a>
            </li>
            <li class="list-inline-item pointer" *ngIf="connectedUser != null">
              <a [routerLink]="['/my-account']">Mon Profil</a>
            </li>
            <li class="list-inline-item pointer" *ngIf="connectedUser != null">
              <a (click)="logout()">Deconnexion</a>
            </li>
          </ul>

          <div id="bag-shopping-count-container">
            <a [routerLink]="['/basket']">
              <span id="bag-shopping-count" aria-hidden="true">{{
                basket.length
              }}</span>
              <i class="fa-solid fa-bag-shopping fa-2x text-white"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="content">
  <div class="container">
    <div class="row">
      <div id="search" class="my-3">
        <div class="container d-flex justify-content-end">
          <form
            #searchForm="ngForm"
            role="search"
            (ngSubmit)="getBooksWithFormatAndTypeAndSearch()"
          >
            <div class="input-group">
              <input
                type="text"
                placeholder="Recherche"
                class="form-control"
                value="{{ searchText }}"
                [(ngModel)]="searchText"
                name="searchbar"
                list="searchList"
              />
              <datalist *ngIf="searchText.length > 0" id="searchList">
                <option *ngFor="let elt of allBooks" [value]="elt.title">
                  {{ elt.title }}
                </option>
              </datalist>

              <div class="input-group-append">
                <button
                  type="submit"
                  class="btn btn-primary button-search h-100"
                >
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card sidebar-menu mb-4">
          <div class="card-header">
            <h3 class="h4 card-title d-flex justify-content-between">
              Format
              <button
                (click)="removeFormatFilter()"
                class="btn btn-sm btn-danger pull-right"
              >
                <i class="fa fa-times-circle"></i> Effacer
              </button>
            </h3>
          </div>
          <div class="card-body">
            <form
              #monForm="ngForm"
              class="container"
              (ngSubmit)="getBooksWithFormatAndTypeAndSearch()"
            >
              <div class="form-group" *ngFor="let elt of formats">
                <div class="checkbox">
                  <label>
                    <input
                      type="checkbox"
                      name="format"
                      value="{{ elt.name }}"
                      [(ngModel)]="elt.filter_is_selected"
                      [checked]="elt.filter_is_selected"
                    />
                    {{ elt.name }} ({{ elt.count_books }})</label
                  >
                </div>
              </div>
              <button type="submit" class="btn btn-default btn-sm btn-primary">
                <i class="fa fa-pencil"></i> Appliquer
              </button>
            </form>
          </div>
        </div>
        <div class="card sidebar-menu mb-4">
          <div class="card-header">
            <h3 class="h4 card-title d-flex justify-content-between">
              Type
              <button
                (click)="removeTypeFilter()"
                class="btn btn-sm btn-danger pull-right"
              >
                <i class="fa fa-times-circle"></i> Effacer
              </button>
            </h3>
          </div>
          <div class="card-body">
            <form
              #monForm="ngForm"
              class="container"
              (ngSubmit)="getBooksWithFormatAndTypeAndSearch()"
            >
              <div class="form-group" *ngFor="let elt of types">
                <div class="checkbox">
                  <label>
                    <input
                      type="checkbox"
                      name="type"
                      value="{{ elt.name }}"
                      [(ngModel)]="elt.filter_is_selected"
                      [checked]="elt.filter_is_selected"
                    />
                    {{ elt.name }} ({{ elt.count_books }})</label
                  >
                </div>
              </div>
              <button type="submit" class="btn btn-default btn-sm btn-primary">
                <i class="fa fa-pencil"></i> Appliquer
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="row">
          <div *ngFor="let elt of books" class="col-lg-4 col-md-6 mb-5">
            <ng-template #updatebookContent let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                  Modifier le livre
                </h4>
                <button
                  type="button"
                  class="btn-close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                ></button>
              </div>
              <div class="modal-body">
                <form #updatebookForm="ngForm" (ngSubmit)="updatebook()">
                  <div class="mb-3">
                    <label class="mb-2" for="title">Titre</label>
                    <div class="input-group">
                      <input
                        type="text"
                        placeholder="{{ elt.title }}"
                        class="form-control mb-3"
                        value="{{ elt.title }}"
                        [(ngModel)]="actualUpdatebook.title"
                        name="title"
                        required
                      />
                    </div>

                    <label class="mb-2" for="summary">Description</label>
                    <div class="input-group">
                      <textarea
                        placeholder="{{ elt.summary }}"
                        class="form-control mb-3"
                        value="{{ elt.summary }}"
                        [(ngModel)]="actualUpdatebook.summary"
                        name="summary"
                        cols="30"
                        rows="10"
                        required
                      ></textarea>
                    </div>

                    <label class="mb-2" for="unitPrice">Prix unitaire</label>
                    <div class="input-group">
                      <input
                        type="number"
                        step="0.01"
                        min="0"
                        placeholder="{{ elt.unitprice }}"
                        class="form-control mb-3"
                        value="{{ elt.unitprice }}"
                        [(ngModel)]="actualUpdatebook.unitprice"
                        name="unitPrice"
                        required
                      />
                    </div>

                    <label class="mb-2" for="stock">Stock</label>
                    <div class="input-group">
                      <input
                        type="number"
                        step="1"
                        min="0"
                        placeholder="{{ elt.stock }}"
                        class="form-control mb-3"
                        value="{{ elt.stock }}"
                        [(ngModel)]="actualUpdatebook.stock"
                        name="stock"
                        required
                      />
                    </div>

                    <label class="mb-2" for="isbn">ISBN</label>
                    <div class="input-group">
                      <input
                        type="text"
                        placeholder="{{ elt.isbn }}"
                        class="form-control mb-3"
                        value="{{ elt.isbn }}"
                        [(ngModel)]="actualUpdatebook.isbn"
                        name="isbn"
                        required
                      />
                    </div>

                    <label class="mb-2" for="year">Année de parution</label>
                    <div class="input-group">
                      <input
                        type="text"
                        placeholder="{{ elt.year }}"
                        class="form-control mb-3"
                        value="{{ elt.year }}"
                        [(ngModel)]="actualUpdatebook.year"
                        name="year"
                        required
                      />
                    </div>

                    <label class="mb-2" for="format">Format</label>
                    <div class="input-group">
                      <input
                        type="text"
                        placeholder="{{ elt.format?.name }}"
                        class="form-control mb-3"
                        value="{{ elt.format?.name }}"
                        [(ngModel)]="
                          actualUpdatebook.format &&
                          actualUpdatebook.format.name
                        "
                        list="formatlist"
                        name="format"
                        required
                      />
                      <datalist id="formatlist">
                        <option
                          *ngFor="let aFormat of formats"
                          value="{{ aFormat.name }}"
                        ></option>
                      </datalist>
                    </div>

                    <label class="mb-2" for="editor">Éditeur</label>
                    <div class="input-group">
                      <input
                        type="text"
                        placeholder="{{ elt.editor?.name }}"
                        class="form-control mb-3"
                        value="{{ elt.editor?.name }}"
                        [(ngModel)]="
                          actualUpdatebook.editor &&
                          actualUpdatebook.editor.name
                        "
                        list="editorlist"
                        name="editor"
                        required
                      />
                      <datalist id="editorlist">
                        <option
                          *ngFor="let anEditor of editors"
                          value="{{ anEditor.name }}"
                        ></option>
                      </datalist>
                    </div>

                    <fieldset>
                      <legend>Auteurs :</legend>
                      <div *ngFor="let anAuthor of authors">
                        <input
                          type="checkbox"
                          name="{{ anAuthor.firstname }}_{{
                            anAuthor.lastname
                          }}"
                          id="{{ anAuthor.firstname }}_{{ anAuthor.lastname }}"
                          [checked]="anAuthor.isChecked"
                          [(ngModel)]="anAuthor.isChecked"
                        />

                        <label
                          for="{{ anAuthor.firstname }}_{{ anAuthor.lastname }}"
                          >{{ anAuthor.firstname }}
                          {{ anAuthor.lastname }}</label
                        >
                      </div>
                    </fieldset>
                    <fieldset>
                      <legend>Types :</legend>
                      <div *ngFor="let aType of types">
                        <input
                          type="checkbox"
                          name="{{ aType.name }}"
                          id="{{ aType.name }}"
                          [checked]="aType.isChecked"
                          [(ngModel)]="aType.isChecked"
                        />

                        <label for="{{ aType.name }}">{{ aType.name }}</label>
                      </div>
                    </fieldset>

                    <label class="mb-2" for="coverImage"
                      >Image de couverture</label
                    >
                    <div class="input-group">
                      <input
                        type="file"
                        accept="image/png, image/jpeg"
                        class="form-control mb-3"
                        name="coverImage"
                        required
                      />
                    </div>

                    <div class="d-flex justify-content-end mt-2">
                      <button
                        type="submit"
                        class="btn btn-default btn-sm btn-primary"
                        [disabled]="!updatebookForm.valid"
                      >
                        Connexion
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </ng-template>

            <div class="product h-100 d-flex align-items-center flex-column">
              <div class="">
                <div class="update-book-admin-container">
                  <span
                    class="update-book-admin text-white pointer"
                    (click)="updatebookModal(updatebookContent, elt.id)"
                    *ngIf="connectedUser?.roles?.includes('ROLE_ADMIN')"
                  >
                    <i class="fa-solid fa-pen-to-square"></i
                  ></span>
                  <a [routerLink]="['/books/', elt.id]">
                    <img src="{{ elt.image }}" alt="" class="img-fluid"
                  /></a>
                </div>
              </div>

              <div class="text p-2 mt-auto w-100">
                <h3>
                  <a [routerLink]="['/books/', elt.id]">
                    {{ elt.title }}
                  </a>
                </h3>
                <p class="price"><del></del>{{ elt.unitprice }} €</p>
                <div class="d-flex justify-content-between px-1">
                  <button
                    [routerLink]="['/books/', elt.id]"
                    class="btn btn-outline-secondary col-5 mt-4"
                  >
                    Voir le détail
                  </button>
                  <div class="col-6">
                    <form
                      #addBookForm="ngForm"
                      (ngSubmit)="addBookToBasket($event, elt.id)"
                    >
                      Quantité :
                      <select id="quantity_to_order" name="quantity_to_order">
                        <option
                          *ngFor="
                            let quantity of [
                              1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
                              16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
                              28, 29, 30
                            ]
                          "
                          value="{{ quantity }}"
                          [selected]="quantity == 1"
                        >
                          {{ quantity }}
                        </option>
                      </select>
                      <button type="submit" class="btn btn-primary mt-2">
                        <i class="fa fa-shopping-cart"></i>Ajouter au panier
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pages">
            <nav
              aria-label="Page navigation example"
              class="d-flex justify-content-center"
            >
              <ul class="pagination">
                <li class="page-item">
                  <button
                    [disabled]="actualPage == 1"
                    (click)="getPreviousPage()"
                    type="button"
                    aria-label="Previous"
                    class="page-link"
                  >
                    <span aria-hidden="true">«</span
                    ><span class="sr-only">Previous</span>
                  </button>
                </li>
                <div *ngFor="let i of paginationArray">
                  <li *ngIf="i == actualPage" class="page-item active">
                    <button
                      (click)="getAllBooksByPage(i)"
                      type="button"
                      class="page-link"
                    >
                      {{ i }}
                    </button>
                  </li>
                  <li *ngIf="i != actualPage" class="page-item">
                    <button
                      (click)="getAllBooksByPage(i)"
                      type="button"
                      class="page-link"
                    >
                      {{ i }}
                    </button>
                  </li>
                </div>
                <li class="page-item">
                  <button
                    [disabled]="actualPage == pageCount"
                    (click)="getNextPage()"
                    type="button"
                    aria-label="Next"
                    class="page-link"
                  >
                    <span aria-hidden="true">»</span
                    ><span class="sr-only">Next</span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>

          <!--     <div class="text-center">
      {{ elt.year }}<br /><br />
      <div *ngFor="let an_author of elt.author" class="">
        {{ an_author.firstname }}
        {{ an_author.lastname }}
        {{ an_author.language }}<br /><br />
      </div>
    </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
