<header>
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offer mb-3 mb-lg-0"></div>
        <div class="col-lg-6 text-end text-lg-right">
          <ul class="menu list-inline mb-0">
            <li class="list-inline-item">
              <a href="#" data-toggle="modal" data-target="#login-modal"
                >Login</a
              >
            </li>
            <li class="list-inline-item">
              <a href="register.html">Register</a>
            </li>
            <li class="list-inline-item"><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="content">
  <div class="container">
    <div class="row">
      <div id="search" class="my-3">
        <div class="container d-flex justify-content-end">
          <form #searchForm="ngForm" role="search" (ngSubmit)="getBooksWithFormatAndSearch()">
            <div class="input-group">
              <input
                type="text"
                placeholder="Search"
                class="form-control"
                value="{{ searchText }}"
                [(ngModel)]="searchText"
                name="searchbar"
                list="searchList"
              />
              <datalist *ngIf="searchText.length > 0" id="searchList">
                <option *ngFor="let elt of allBooks" [value]="elt.book_title">
                  {{ elt.book_title }}
                </option>
              </datalist>

              <div class="input-group-append">
                <button
                  type="submit"
                  class="btn btn-primary button-search h-100"
                >
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-12 my-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Livres</li>
          </ol>
        </nav>
      </div>

      <div class="col-lg-3">
        <div class="card sidebar-menu mb-4">
          <div class="card-header">
            <h3 class="h4 card-title d-flex justify-content-between">
              Format
              <button
                (click)="removeFormatFilter()"
                class="btn btn-sm btn-danger pull-right"
              >
                <i class="fa fa-times-circle"></i> Effacer
              </button>
            </h3>
          </div>
          <div class="card-body">
            <form
              #monForm="ngForm"
              class="container"
              (ngSubmit)="getBooksWithFormatAndSearch()"
            >
              <div class="form-group" *ngFor="let elt of formats">
                <div class="checkbox">
                  <label>
                    <input
                      type="checkbox"
                      name="format"
                      value="{{ elt.format_name }}"
                      [(ngModel)]="elt.filter_is_selected"
                      [checked]="elt.filter_is_selected"
                    />
                    {{ elt.format_name }} ({{ elt.count_books }})</label
                  >
                </div>
              </div>
              <button type="submit" class="btn btn-default btn-sm btn-primary">
                <i class="fa fa-pencil"></i> Appliquer
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="row">
          <div *ngFor="let elt of books" class="col-lg-4 col-md-6 mb-5">
            <div class="product h-100 d-flex align-items-center flex-column">
              <div class="">
                <div class="">
                  <a [routerLink]="['/books/', elt.id]">
                    <img src="{{ elt.book_image }}" alt="" class="img-fluid"
                  /></a>
                </div>
              </div>

              <div class="text p-2 mt-auto w-100">
                <h3>
                  <a [routerLink]="['/books/', elt.id]">
                    {{ elt.book_title }}
                  </a>
                </h3>
                <p class="price"><del></del>{{ elt.book_unit_price }} €</p>
                <p class="d-flex justify-content-between px-1">
                  <button
                    [routerLink]="['/books/', elt.id]"
                    class="btn btn-outline-secondary"
                  >
                    Voir le détail
                  </button>

                  <button href="basket.html" class="btn btn-primary">
                    <i class="fa fa-shopping-cart"></i>Ajouter au panier
                  </button>
                </p>
              </div>
            </div>
          </div>

          <div class="pages">
            <nav
              aria-label="Page navigation example"
              class="d-flex justify-content-center"
            >
              <ul class="pagination">
                <li class="page-item">
                  <button
                    [disabled]="actualPage == 1"
                    (click)="getPreviousPage()"
                    type="button"
                    aria-label="Previous"
                    class="page-link"
                  >
                    <span aria-hidden="true">«</span
                    ><span class="sr-only">Previous</span>
                  </button>
                </li>
                <div *ngFor="let i of paginationArray">
                  <li *ngIf="i == actualPage" class="page-item active">
                    <button
                      (click)="getAllBooksByPage(i)"
                      type="button"
                      class="page-link"
                    >
                      {{ i }}
                    </button>
                  </li>
                  <li *ngIf="i != actualPage" class="page-item">
                    <button
                      (click)="getAllBooksByPage(i)"
                      type="button"
                      class="page-link"
                    >
                      {{ i }}
                    </button>
                  </li>
                </div>
                <li class="page-item">
                  <button
                    [disabled]="actualPage == pageCount"
                    (click)="getNextPage()"
                    type="button"
                    aria-label="Next"
                    class="page-link"
                  >
                    <span aria-hidden="true">»</span
                    ><span class="sr-only">Next</span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>

          <!--     <div class="text-center">
      {{ elt.book_year }}<br /><br />
      <div *ngFor="let an_author of elt.book_author" class="">
        {{ an_author.author_firstname }}
        {{ an_author.author_lastname }}
        {{ an_author.author_language }}<br /><br />
      </div>
    </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
