.p-button-just-text, .p-button-just-text:hover {
  background-color: #fff !important;
  border: none !important;
  color: #30336B !important;
  box-shadow: none !important;
  padding: 0;
}

.filter-list-search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.filter-list-search-bar>div {
  margin: 1rem 0;
  width: 100%;
}

.p-multiselect .p-multiselect-label {
  width: 100%;
}

.p-multiselect {
  width: 100%;
}

.filter-search {
  display: flex;
  justify-content: end;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.filter-search .p-autocomplete-input {
  width: 100%;
  border-radius: 6px 0 0 6px;
}

.button-search {
  border-radius: 0 6px 6px 0 !important;
  border: none;
}

.filter-in-stock>button, .filter-in-stock>button>span:nth-child(1) {
  width: 100%;
  text-align: center;
}

.filter-in-stock>button>.p-button-label {
  flex: none;
}

.price-range-title {
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 650px) {
  .filter-list-search-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-auto-rows: minmax(100px, auto);

  }

  .p-button-outline-primary-color {
    padding: .5rem !important;
  }
}


@media (min-width: 1300px) {
  .filter-list-search-bar {
    grid-template-columns: repeat(5, 1fr);
  }

  .filter-search {
    justify-content: center;
  }

  .p-inputwrapper {
    width: 40%;
  }

  .p-inputwrapper .p-autocomplete {
    width: 100%;
  }
}