<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container">
      <img
        id="productDetailsImg"
        src="https://www.thibaultmorizet.fr/assets/background-images/productDetails.png"
        alt="productDetailsImg"
      />
      <img
        id="productDetails2Img"
        src="https://www.thibaultmorizet.fr/assets/background-images/productDetails2.png"
        alt="productDetails2Img"
      />

      <div class="product-details-container">
        <div class="product-general-details">
          <div class="product-details-image-and-title">
            <p-skeleton
              class="productDetailsImgCoverSkeleton"
              width="100%"
              height="100%"
              *ngIf="!productDetailsImgCoverIsLoaded"
            ></p-skeleton>

            <img
              id="productDetailsImgCover"
              src="{{ product.image }}"
              alt="productDetailsImg"
              (load)="productDetailsImgCoverIsLoaded = true"
              [ngClass]="{ 'd-none': !productDetailsImgCoverIsLoaded }"
            />
          </div>

          <div class="product-details-quantity-and-price-and-submit">
            <p class="subtitle text-center">{{ product.title }}</p>

            <div class="product-details-price">
              <p class="price">
                {{
                  getUnitpricettcFromUnitpricehtAndTva(
                    product.unitpriceht,
                    product.taxe?.tva
                  )
                }}
                € (TTC)
              </p>
              <p
                class="subtitle product-details-quantity"
                *ngIf="product.stock && product.stock > 0"
              >
                {{ "general.quantity" | translate }}
              </p>
            </div>
            <div
              class="product-details-quantity-and-submit"
              *ngIf="product.stock && product.stock > 0"
            >
              <div class="quantity-div">
                <p-inputNumber
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  inputId="horizontal"
                  spinnerMode="horizontal"
                  [step]="1"
                  [(ngModel)]="product.number_ordered"
                  [min]="0"
                  [max]="product.stock ? product.stock : 0"
                  decrementButtonClass="p-button-outline-primary"
                  incrementButtonClass="p-button-outline-primary"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                >
                </p-inputNumber>
              </div>
              <div class="product-details-submit">
                <button
                  pButton
                  pRipple
                  type="submit"
                  class="p-button-raised p-button-primary-color btn-primary-color"
                  (click)="addProductToCart(product)"
                >
                  {{ "general.add_to_cart" | translate }}
                </button>
              </div>
            </div>
            <div class="out-of-stock-div" *ngIf="product.stock == 0">
              <p class="subtitle color-red">
                {{ "general.out_of_stock" | translate }}
              </p>
            </div>
          </div>
        </div>
        <p-divider class="product-details-divider"></p-divider>
        <p-tabView>
          <p-tabPanel header="{{ 'product_details.summary' | translate }}">
            <p class="text-summary">{{ product.summary }}</p>
          </p-tabPanel>
          <p-tabPanel
            header="{{ 'product_details.product_details' | translate }}"
            ><ul>
              <li>
                <span>
                  <span class="bold"
                    >{{ "general.price" | translate }} (HT) :
                  </span>
                  <span>{{ product.unitpriceht }} €</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="bold">ISBN : </span>
                  <span>{{ product.isbn }}</span>
                </span>
              </li>
              <li *ngFor="let anAuthor of product.author">
                <span>
                  <span class="bold"
                    >{{ "general.author" | translate }} :
                  </span>
                  <span>{{ anAuthor.lastname }} {{ anAuthor.firstname }}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="bold"
                    >{{ "general.editor" | translate }} :
                  </span>
                  <span>{{ product.editor?.name }}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="bold"
                    >{{ "general.year_of_publication" | translate }} :
                  </span>
                  <span>{{ product.year }}</span>
                </span>
              </li>
            </ul>
          </p-tabPanel>
          <p-tabPanel header="{{ 'product_details.comments' | translate }}">
            <ul
              class="product-details-comment-container list-none m-0"
              *ngIf="product.comments?.length"
            >
              <li>Add a comment</li>
              <li
                class="product-details-comment"
                *ngFor="let aComment of product.comments"
              >
                <div class="product-details-comment-text-and-actions">
                  <div class="product-details-comment-text mx-0 mt-0 mb-3">
                    {{ aComment.text }}
                  </div>
                  <div
                    class="product-details-comment-actions"
                    *ngIf="
                      connectedUser?.id &&
                      aComment.user?.id == connectedUser?.id
                    "
                  >
                    <button
                      pButton
                      pRipple
                      icon="pi pi-trash"
                      class="delete-comment-button"
                      (click)="deleteComment(aComment.id)"
                      [ngClass]="{ 'disabled': deleteCommentButtonDisable }"
                    ></button>
                  </div>
                </div>
                <div class="product-details-comment-user-and-date">
                  <div class="product-details-comment-user">
                    {{ aComment.user?.firstname }} {{ aComment.user?.lastname }}
                  </div>

                  <div class="product-details-comment-date">
                    {{ getCommentDate(aComment.createdAt) }}
                  </div>
                </div>

                <p-divider class="product-details-divider"></p-divider>
              </li>
            </ul>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
