<div class="best-sell-container">
    <div class="best-sell-img">
      <img
        src="{{ oneBook.image }}"
        [alt]="oneBook.title"
        class="img-best-sell pointer"
        [routerLink]="['/books/', oneBook.id]"
      />
      <div class="article-hover-actions">
        <div
          class="article-hover-actions-add-cart"
          (click)="addBookToBasket(oneBook.id)"
        >
          <i class="fa fa-shopping-cart"></i>
        </div>
      </div>
    </div>
    <div class="best-sell-description">
      <span
        class="best-sell-title pointer"
        [routerLink]="['/books/', oneBook.id]"
        >{{ oneBook.title }}</span
      >
      <span
        class="best-sell-price pointer"
        [routerLink]="['/books/', oneBook.id]"
        >{{ oneBook.unitprice }} €</span
      >
    </div>
  </div>
