.book-details-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 2em 1em;
    backdrop-filter: blur(2px);
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-details-quantity-and-price-and-submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container:has(.book-details-container) {
    display: flex;
    justify-content: center;
    position: relative;
}

#bookDetailsImgCover {
    width: 250px;
    height: 280px;
    border-radius: 15px;
}

.subtitle {
    font-size: 1.2rem;
    font-family: "Quicksand", Arial, sans-serif;
    padding: 1rem;
}

.price {
    width: 100%;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.quantity-div {
    padding: 1rem;
    width: 100%;
}

.book-details-quantity-and-submit {
    width: 100%;
}

.book-details-image-and-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-details-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.p-inputnumber-input {
    width: 50px;
    display: flex;
    justify-content: center;
}

.p-inputnumber-input {
    text-align: center;
    font-family: "Quicksand", Arial, sans-serif;
}

.p-button-outline-primary {
    font-family: "Quicksand", Arial, sans-serif;
    border: none;
    background: none;
    color: #30336B;
}

.p-button-outline-primary:hover {
    border: none;
    background-color: #DADAE4 !important;
    color: #30336B !important;

}

.book-details-divider {
    width: 250px;
}

.p-tabview {
    width: 280px;
    padding: 1rem;
    font-family: "Quicksand", Arial, sans-serif;
}

.p-tabview ul {
    line-height: 1.8rem;
}

.p-tabview-panels {
    padding: 1rem 0 0 0 !important;
    text-align: justify;
}

.book-details-submit {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    width: 100%;
    padding-right: 1rem;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #30336B;
    border-color: #30336B;
    background: none;
}

.p-tabview .p-tabview-nav, .p-tabview .p-tabview-panels, .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: none;

}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background-color: rgba(218, 218, 228, 0.6) !important;

}

.text-summary {
    white-space: pre-wrap;
    margin: 0;
}

.book-details-quantity {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    width: 100%;
}

#bookDetailsImg {
    display: none;
}

#bookDetails2Img {
    display: none;
}

@media (min-width: 650px) {
    .book-details-container {
        width: 500px;
        padding: 3em 1em 1em 1em;
    }

    #bookDetailsImgCover {
        width: 300px;
        height: 350px;
    }

    .subtitle {
        width: 300px;
    }

    .book-details-quantity-and-submit {
        display: flex;
        align-items: center;
        width: 400px;
        justify-self: center;
    }

    .book-details-submit {
        margin-top: 0;
        height: 50px;
    }

    .book-details-divider {
        width: 450px;
    }

    .p-tabview {
        width: 450px;
    }

    .price, .book-details-quantity {
        width: 400px;
    }

    .p-tabview-panels ul {
        width: 300px;
    }

    .p-tabview-panels:has(ul) {
        display: flex;
        justify-content: center;
    }

    #bookDetailsImg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        max-width: 550px;
    }
}

@media (min-width: 1000px) {
    #bookDetailsImg {
        max-width: 550px;
    }

    #bookDetails2Img {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        max-width: 550px;
    }
}

@media (min-width: 1800px) {

    #bookDetailsImg {
        max-width: 800px;
    }

    #bookDetails2Img {
        max-width: 800px;
    }

    .book-details-container {
        font-size: .8rem;
    }

    .container:has(.book-details-container) {
        max-width: 1600px !important;
    }

    .book-details-container {
        width: 1000px;
    }

    .book-general-details {
        display: flex;
        margin-bottom: 1rem;
    }

    .book-details-quantity-and-price-and-submit {
        justify-content: center;
    }

    .book-details-quantity-and-submit, .book-details-price, .price, .book-details-quantity {
        width: 300px;
    }

    .book-details-divider {
        width: 800px;
    }

    .p-tabview {
        width: 700px;
    }

    .text-summary {
        font-size: 1.3rem;
    }

    .p-tabview ul {
        font-size: 1.3rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }
}

@media (min-width: 2200px) {
    .container:has(.book-details-container) {
        max-width: 1950px !important;
    }

}