<header>
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offer mb-3 mb-lg-0"></div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
          <!--  <ul class="menu list-inline mb-0">
            <li class="list-inline-item">
              <a href="#" data-toggle="modal" data-target="#login-modal"
                >Login</a
              >
            </li>
            <li class="list-inline-item">
              <a href="register.html">Register</a>
            </li>
          </ul> -->

          <div id="bag-shopping-count-container">
            <span
              id="bag-shopping-count"
              aria-hidden="true"
              >{{basketCount}}</span
            >
            <i class="fa-solid fa-bag-shopping fa-2x text-white"></i>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>

<div id="content">
  <div class="container">
    <div class="row">
              
      <div class="col-lg-12">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/books']">Livres</a></li>
            <li aria-current="page" class="breadcrumb-item active">{{ book.book_title }}</li>
          </ol>
        </nav>
      </div>

      <div class="col-lg-9 order-1 order-lg-2">
        <div id="productMain" class="row">
          <div class="col-md-6">
            <img src="{{ book.book_image }}" alt="" class="img-fluid img-book-details" />
          </div>
          <div class="col-md-6">
            <div class="box">
              <h2 class="text-center">{{ book.book_title }}</h2>

              <p class="goToDescription">
                <a (click)="scroll(details)" class="scroll-to pointer"
                  >Scroll to product details, material &amp; care and sizing</a
                >
              </p>
              <p class="price">{{ book.book_unit_price }} € (HT)</p>
              <li *ngIf="1" class="page-item active">test</li>

              <p class="text-center buttons">
                <button href="basket.html" class="btn btn-primary"
                  ><i class="fa fa-shopping-cart"></i> Ajoutez au panier</button
                >
              </p>
            </div>
          </div>
        </div>
        <div #details class="box">
          <h3>Détail sur le produit</h3>
          <br />
          <h5>Description</h5>
          <p>
            {{ book.book_summary }}
          </p>
          <br />
          <ul>
            <li>
              <span>
                <span class="font-weight-bold">ISBN : </span>
                <span>{{ book.book_isbn }}</span>
              </span>
            </li>
            <li>
              <span>
                <span class="font-weight-bold">Éditeur : </span>
                <span>{{ book.book_editor?.editor_name }}</span>
              </span>
            </li>
            <li>
              <span>
                <span class="font-weight-bold">Année de parution : </span>
                <span>{{ book.book_year }}</span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
