<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container">
      <img
        id="bookDetailsImg"
        src="https://www.thibaultmorizet.fr/assets/bookDetails.png"
        alt="bookDetailsImg"
      />
      <img
        id="bookDetails2Img"
        src="https://www.thibaultmorizet.fr/assets/bookDetails2.png"
        alt="bookDetails2Img"
      />

      <div class="book-details-container">
        <div class="book-general-details">
          <div class="book-details-image-and-title">
            <p-skeleton
              class="bookDetailsImgCoverSkeleton"
              width="100%"
              height="100%"
              *ngIf="!bookDetailsImgCoverIsLoaded"
            ></p-skeleton>

            <img
              id="bookDetailsImgCover"
              src="{{ book.image }}"
              alt="bookDetailsImg"
              (load)="bookDetailsImgCoverIsLoaded = true"
              [ngClass]="{ 'd-none': !bookDetailsImgCoverIsLoaded }"
            />
          </div>

          <div class="book-details-quantity-and-price-and-submit">
            <p class="subtitle text-center">{{ book.title }}</p>

            <div class="book-details-price">
              <p class="price">{{ book.unitpricettc }} € (TTC)</p>
              <p class="subtitle book-details-quantity">Quantity</p>
            </div>
            <div class="book-details-quantity-and-submit">
              <div class="quantity-div">
                <p-inputNumber
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  inputId="horizontal"
                  spinnerMode="horizontal"
                  [step]="1"
                  [(ngModel)]="book.number_ordered"
                  [min]="0"
                  [max]="book.stock ? book.stock : 0"
                  decrementButtonClass="p-button-outline-primary"
                  incrementButtonClass="p-button-outline-primary"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                >
                </p-inputNumber>
              </div>
              <div class="book-details-submit">
                <button
                  pButton
                  pRipple
                  type="submit"
                  class="p-button-raised p-button-primary-color btn-primary-color"
                  (click)="addBookToCart(book)"
                >
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
        <p-divider class="book-details-divider"></p-divider>
        <p-tabView>
          <p-tabPanel header="Summary">
            <p class="text-summary">{{ book.summary }}</p>
          </p-tabPanel>
          <p-tabPanel header="Book details"
            ><ul>
              <li>
                <span>
                  <span class="bold">Price (HT) : </span>
                  <span>{{ book.unitpriceht }} €</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="bold">ISBN : </span>
                  <span>{{ book.isbn }}</span>
                </span>
              </li>
              <li *ngFor="let anAuthor of book.author">
                <span>
                  <span class="bold">Author : </span>
                  <span>{{ anAuthor.lastname }} {{ anAuthor.firstname }}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="bold">Editor : </span>
                  <span>{{ book.editor?.name }}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="bold">Year of publication : </span>
                  <span>{{ book.year }}</span>
                </span>
              </li>
            </ul>
          </p-tabPanel>
        </p-tabView>
      </div>
      <!--       <div class="row">
        <div class="col-lg-9 order-1 order-lg-2 mt-5">

          <div #details class="box">
            <br />
            
          </div>
        </div>
      </div>
 -->
    </div>
  </main>
  <app-footer></app-footer>
</div>
