<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container">
      <img
        id="bookDetailsImg"
        src="https://www.thibaultmorizet.fr/assets/background-images/bookDetails.png"
        alt="bookDetailsImg"
      />
      <img
        id="bookDetails2Img"
        src="https://www.thibaultmorizet.fr/assets/background-images/bookDetails2.png"
        alt="bookDetails2Img"
      />

      <div class="book-details-container">
        <div class="book-general-details">
          <div class="book-details-image-and-title">
            <p-skeleton
              class="bookDetailsImgCoverSkeleton"
              width="100%"
              height="100%"
              *ngIf="!bookDetailsImgCoverIsLoaded"
            ></p-skeleton>

            <img
              id="bookDetailsImgCover"
              src="{{ book.image }}"
              alt="bookDetailsImg"
              (load)="bookDetailsImgCoverIsLoaded = true"
              [ngClass]="{ 'd-none': !bookDetailsImgCoverIsLoaded }"
            />
          </div>

          <div class="book-details-quantity-and-price-and-submit">
            <p class="subtitle text-center">{{ book.title }}</p>

            <div class="book-details-price">
              <p class="price">
                {{
                  getUnitpricettcFromUnitpricehtAndTva(
                    book.unitpriceht,
                    book.taxe?.tva
                  )
                }}
                € (TTC)
              </p>
              <p
                class="subtitle book-details-quantity"
                *ngIf="book.stock && book.stock > 0"
              >
                {{ "general.quantity" | translate }}
              </p>
            </div>
            <div
              class="book-details-quantity-and-submit"
              *ngIf="book.stock && book.stock > 0"
            >
              <div class="quantity-div">
                <p-inputNumber
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  inputId="horizontal"
                  spinnerMode="horizontal"
                  [step]="1"
                  [(ngModel)]="book.number_ordered"
                  [min]="0"
                  [max]="book.stock ? book.stock : 0"
                  decrementButtonClass="p-button-outline-primary"
                  incrementButtonClass="p-button-outline-primary"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                >
                </p-inputNumber>
              </div>
              <div class="book-details-submit">
                <button
                  pButton
                  pRipple
                  type="submit"
                  class="p-button-raised p-button-primary-color btn-primary-color"
                  (click)="addBookToCart(book)"
                >
                  {{ "general.add_to_cart" | translate }}
                </button>
              </div>
            </div>
            <div class="out-of-stock-div" *ngIf="book.stock == 0">
              <p class="subtitle color-red">
                {{ "general.out_of_stock" | translate }}
              </p>
            </div>
          </div>
        </div>
        <p-divider class="book-details-divider"></p-divider>
        <p-tabView>
          <p-tabPanel header="{{ 'book_details.summary' | translate }}">
            <p class="text-summary">{{ book.summary }}</p>
          </p-tabPanel>
          <p-tabPanel header="{{ 'book_details.book_details' | translate }}"
            ><ul>
              <li>
                <span>
                  <span class="bold"
                    >{{ "general.price" | translate }} (HT) :
                  </span>
                  <span>{{ book.unitpriceht }} €</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="bold">ISBN : </span>
                  <span>{{ book.isbn }}</span>
                </span>
              </li>
              <li *ngFor="let anAuthor of book.author">
                <span>
                  <span class="bold"
                    >{{ "general.author" | translate }} :
                  </span>
                  <span>{{ anAuthor.lastname }} {{ anAuthor.firstname }}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="bold"
                    >{{ "general.editor" | translate }} :
                  </span>
                  <span>{{ book.editor?.name }}</span>
                </span>
              </li>
              <li>
                <span>
                  <span class="bold"
                    >{{ "general.year_of_publication" | translate }} :
                  </span>
                  <span>{{ book.year }}</span>
                </span>
              </li>
            </ul>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
