<header>
  <div id="top">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand pointer" [routerLink]="['/home']"
          ><img
            src="https://www.thibaultmorizet.fr/assets/logo-l2i.png"
            alt="logo-l2i"
            width="50"
        /></a>
        <a class="home-link text-uppercase active" [routerLink]="['/home']"
          >Home</a
        >
        <a class="home-link text-uppercase" [routerLink]="['/books']">Shop</a>

        <a class="home-link text-uppercase" [routerLink]="['/my-account']"
          >My Account</a
        >

        <div id="bag-shopping-count-container">
          <a [routerLink]="['/basket']" class="home-link text-uppercase">
            <span id="bag-shopping-count" aria-hidden="true">{{
              basket.length
            }}</span>
            My Basket</a
          >
        </div>
      </div>
    </nav>
  </div>
</header>

<h2 class="container text-primary text-center">Inscrire un nouvel admin</h2>
<form #adminRegisterForm="ngForm" (ngSubmit)="adminRegister()">
  <div class="mb-3">
    <label class="mb-2" for="lastname">Nom</label>
    <div class="input-group">
      <input
        id="lastname"
        class="form-control mb-3"
        placeholder="Nom"
        name="lastname"
        [(ngModel)]="userInscription.lastname"
        required
      />
    </div>
    <label class="mb-2" for="firstname">Prenom</label>
    <div class="input-group">
      <input
        id="firstname"
        class="form-control mb-3"
        placeholder="Prénom"
        name="firstname"
        [(ngModel)]="userInscription.firstname"
        required
      />
    </div>
    <label class="mb-2" for="email">Email</label>
    <div class="input-group">
      <input
        id="email"
        class="form-control mb-3"
        placeholder="Email"
        name="email"
        type="email"
        [(ngModel)]="userInscription.email"
        required
      />
    </div>
    <div *ngIf="errorEmail" class="mb-2 text-danger">
      {{ errorEmail }}
    </div>

    <label class="mb-2" for="password">Mot de Passe</label>
    <div class="input-group">
      <input
        id="password"
        class="form-control mb-3"
        placeholder="Mot de Passe"
        name="password"
        type="password"
        [(ngModel)]="userInscription.password"
        required
      />
    </div>
    <div *ngIf="errorPassword" class="mb-2 text-danger">
      {{ errorPassword }}
    </div>

    <label class="mb-2" for="lastname">Mot de Passe</label>
    <div class="input-group">
      <input
        id="passwordConfirm"
        class="form-control mb-3"
        placeholder="Confirmer le Mot de Passe"
        name="passwordConfirm"
        type="password"
        [(ngModel)]="userInscription.passwordConfirm"
        required
      />
    </div>
    <div class="d-flex justify-content-end mt-2">
      <button
        type="submit"
        class="btn btn-default btn-sm btn-primary"
        [disabled]="!adminRegisterForm.valid"
      >
        Continuer
      </button>
    </div>
  </div>
</form>
