.legal-notices-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 2em 1em;
    backdrop-filter: blur(2px);
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.legal-notices-container a {
    color: #30336B;
    text-decoration: none;
}

.container:has(.legal-notices-container) {
    display: flex;
    justify-content: center;
}

#legalNoticesImg {
    display: none;
}

@media (min-width: 1000px) {
    .legal-notices-container {
        max-width: 700px;
        font-size: .8rem;

    }

    #legalNoticesImg {
        display: block;
        max-width: 500px;
    }
}

@media (min-width: 1800px) {
    .legal-notices-container {
        font-size: 1rem;
    }

    .container {
        max-width: 1600px;
    }

    #legalNoticesImg {
        max-width: 800px;
    }
}

@media (min-width: 1800px) {
    .legal-notices-container {
        font-size: 1.3rem;
        max-width: 900px;

    }

    .container {
        max-width: 1900px;
    }

}