<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container">
      <img
        id="legalNoticesImg"
        src="https://www.thibaultmorizet.fr/assets/background-images/legalNotices.png"
        alt="legalNoticesImg"
      />
      <div class="legal-notices-container">
        <div>
          <p class="title text-center">{{ "general.legal_notices" | translate }}</p>
          <p>
            Conformément aux dispositions des Articles 6-III et 19 de la Loi
            n°2004-575 du 21 juin 2004 pour la Confiance dans l'Économie
            Numérique, dite L.C.E.N., il est porté à la connaissance des
            Utilisateurs du site L2i les présentes mentions légales. La
            connexion et la navigation sur le site "L2i" par l'Utilisateur
            implique acceptation intégrale et sans réserve des présentes
            mentions légales. Ces dernières sont accessibles sur le site à la
            rubrique « Mentions légales ».
          </p>

          <p class="bold">ARTICLE 1:</p>
          <p>
            Le site L2i est réalisé dans le cadre d'un projet de fin d'année
            pour l'école 2iTech. Le propriétaire est Monsieur Thibault
            MORIZET-MARMINC.
          </p>
          <p class="bold">ARTICLE 2:</p>

          <p>
            L'hébergeur du site L2i est la Société O2Switch, dont le siège
            social est situé au Chemin des Pardiaux, 63000 Clermont-Ferrand,
            France.
          </p>
          <p class="bold">ARTICLE 3:</p>

          <p>
            Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de
            force majeure, interruption programmée ou non et pouvant découlant
            d'une nécessité de maintenance. En cas de modification, interruption
            ou suspension des services, le site L2i ne saurait être tenu
            responsable.
          </p>
          <p class="bold">ARTICLE 4:</p>
          <p>
            Le site est exempté de déclaration à la Commission Nationale de 
            l'Informatique et des Libertés (CNIL) dans la mesure où il ne collecte
            aucune donnée concernant les utilisateurs.
          </p>
          <p class="bold">ARTICLE 5:</p>

          <p>
            L'Utilisateur est informé que lors de ses visites sur le site, un
            cookie peut s'installer automatiquement sur son logiciel de
            navigation. En naviguant sur le site, il les accepte. Un cookie est
            un élément qui ne permet pas d'identifier l'Utilisateur mais sert à
            enregistrer des informations relatives à la navigation de celui-ci
            sur le site Internet. L'Utilisateur pourra désactiver ce cookie par
            l'intermédiaire des paramètres figurant au sein de son logiciel de
            navigation.
          </p>
          <p class="bold">ARTICLE 6:</p>

          <p>
            Toute utilisation, reproduction, diffusion, commercialisation,
            modification de tout ou partie du site L2i, sans autorisation de
            l'Editeur est prohibée et pourra entraîner des actions et poursuites
            judiciaires telles que celles notamment prévues par le Code de la propriété
            intellectuelle et le Code civil.
          </p>
          <p class="bold">ARTICLE 7:</p>
          <p>
            Les illustrations présentes sur le site proviennent du site
            <a
              href="https://stories.freepik.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              https://stories.freepik.com/</a
            >
          </p>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
