<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container">
      <div class="filter-list-search-bar">
        <div class="filter-search">
          <p-autoComplete
            placeholder="{{ 'book.search' | translate }}"
            [(ngModel)]="searchBook"
            [showEmptyMessage]="true"
            [suggestions]="filteredBooks"
            (completeMethod)="filterBook($event)"
            field="title"
            [minLength]="1"
            (onSelect)="getBooksWithFormatAndTypeAndPriceAndSearch()"
            (onBlur)="getBooksWithFormatAndTypeAndPriceAndSearch()"
          ></p-autoComplete>
          <button
            pButton
            pRipple
            type="button"
            class="btn btn-primary-color button-search"
            (click)="getBooksWithFormatAndTypeAndPriceAndSearch()"
          >
            <i class="fa fa-search"></i>
          </button>
        </div>
        <div class="filter-list">
          <div>
            <p-multiSelect
              [options]="formats"
              [(ngModel)]="selectedFormat"
              defaultLabel="{{ 'book.format' | translate }}"
              optionLabel="name"
              display="chip"
              (onChange)="getBooksWithFormatAndTypeAndPriceAndSearch()"
            ></p-multiSelect>
          </div>
          <div>
            <p-multiSelect
              [options]="types"
              [(ngModel)]="selectedType"
              defaultLabel="{{ 'book.type' | translate }}"
              optionLabel="name"
              display="chip"
              (onChange)="getBooksWithFormatAndTypeAndPriceAndSearch()"
            ></p-multiSelect>
          </div>
          <div>
            <p class="price-range-title">
              {{ "book.price_range" | translate }} :
              {{
                selectedPriceRange[0] + " € - " + selectedPriceRange[1] + " €"
              }}
            </p>
            <p-slider
              [(ngModel)]="selectedPriceRange"
              [range]="true"
              (onSlideEnd)="getBooksWithFormatAndTypeAndPriceAndSearch()"
              [min]="0"
              [max]="maxPrice"
            ></p-slider>
          </div>
          <div class="filter-in-stock">
            <button
              pButton
              pRipple
              type="button"
              [ngClass]="{
                'p-button-primary-color': showBooksInStock,
                'btn-primary-color': showBooksInStock,
                'p-button-outline-primary-color': !showBooksInStock,
                'btn-outline-primary-color': !showBooksInStock
              }"
              (click)="updateShowBooksInStock()"
            >
              <span *ngIf="showBooksInStock">{{
                "book.only_books_in_stock" | translate
              }}</span>
              <span *ngIf="!showBooksInStock">{{
                "book.only_books_out_of_stock" | translate
              }}</span>
            </button>
          </div>

          <div>
            <button
              pButton
              pRipple
              type="button"
              class="p-button-raised p-button-just-text"
              (click)="clearAllFilter()"
            >
              {{ "book.clear_all" | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="shop-article-list">
        <div class="shop-article" *ngFor="let aBook of books">
          <div class="shop-article-img">
            <a [routerLink]="['/books/' + aBook.id]">
              <img *ngIf="aBook.images" src="{{ aBook.images[0].url }}" alt="" class="img-icon"
            /></a>
            <div class="out-of-stock-message" *ngIf="aBook.stock == 0">
              {{ "general.out_of_stock" | translate }}
            </div>
          </div>
          <div
            class="shop-article-info-title"
            [routerLink]="['/books/' + aBook.id]"
          >
            {{ aBook.title }}
          </div>

          <div
            class="shop-article-add-to-cart-message"
            (click)="addBookToCart(aBook.id)"
            pRipple
          >
            <i class="pi pi-shopping-cart"></i>
            <span
              >{{
                getUnitpricettcFromUnitpricehtAndTva(
                  aBook.unitpriceht,
                  aBook.taxe?.tva
                )
              }}
              €
            </span>
          </div>
        </div>
      </div>
      <p-paginator
        [rows]="12"
        [totalRecords]="filteredBooks.length"
        [rowsPerPageOptions]="[12, 18, 24]"
        (onPageChange)="getAllBooksByPage($event)"
      ></p-paginator>
    </div>
  </main>
  <app-footer></app-footer>
</div>
