.p-button-just-text, .p-button-just-text:hover {
  background-color: #fff !important;
  border: none !important;
  color: #30336B !important;
  box-shadow: none !important;
  padding: 0;
}

.filter-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.filter-list>div {
  margin: 1rem 0;
  width: 100%;
}

.p-multiselect .p-multiselect-label {
  width: 100%;
}

.p-multiselect {
  width: 100%;
}

.filter-search {
  display: flex;
  justify-content: end;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.filter-search .p-autocomplete-input {
  width: 100%;
  border-radius: 6px 0 0 6px;
}

.button-search {
  border-radius: 0 6px 6px 0 !important;
  border: none;
}

.filter-in-stock>button, .filter-in-stock>button>span:nth-child(1) {
  width: 100%;
  text-align: center;
}

.filter-in-stock>button>.p-button-label {
  flex: none;
}

.price-range-title {
  font-size: 1rem;
  font-weight: 500;
}

.shop-article-list {
  padding-top: 3rem;
}

.img-icon {
  width: 150px;
  height: 210px;
  border-radius: 15px;
  box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);

}

.img-icon:hover {
  opacity: .9;
  transition: all 0.3s;
}

.shop-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.shop-article-img {
  width: 150px;
  height: 210px;
  position: relative;
}

.shop-article-add-to-cart-message {
  display: flex;
  justify-content: space-around;
  width: 120px;
  cursor: pointer;
  color: #fff;
  font-size: .8rem;
  padding: .5rem;
  align-items: center;
  border: #fff 1px solid;
  border-radius: 10px;
  background-color: #30336B;
}

.shop-article-add-to-cart-message:hover {
  background-color: #30336bed;
  transition: all 0.3s;
}

.shop-article-add-to-cart-message i {
  margin-right: .5rem;
  font-weight: 700;
}

.out-of-stock-message {
  position: absolute;
  bottom: 8rem;
  left: 1rem;
  width: calc(100% - 2rem);
  color: #dc3545;
  font-size: 1rem;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #dc3545 1px solid;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}

.shop-article-img:hover .shop-article-add-to-cart-message {
  display: flex;
  transition: all 0.3s;
}

.shop-article-info-title {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  padding: .5rem 1.5rem;
  text-align: center;

}

.shop-article-info-title:hover {
  color: #30336B;
  transition: all 0.3s;
}
.shop-article:hover .img-icon {
  transform: perspective(200px) translateZ(-20px);
  transition: transform .2s linear;
}
@media (min-width: 400px) {
  .filter-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-auto-rows: minmax(100px, auto);

  }

  .shop-article-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
  }

}

@media (min-width: 650px) {
  .filter-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .p-button-outline-primary-color {
    padding: .5rem !important;
  }

  .shop-article-list {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }

  .shop-article {
    margin-bottom: 4rem;
  }

}

@media (min-width: 1000px) {
  .shop-article-list {
    grid-column-gap: 3rem;
  }

  .filter-list>div {
    max-width: 269px;
  }
}


@media (min-width: 1300px) {
  .filter-list {
    grid-template-columns: 1fr 1fr 1fr 1fr .5fr;
  }

  .shop-article-list {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
  }

  .filter-search {
    justify-content: center;
  }

  p-autocomplete {
    width: 40%;
  }

  .p-inputwrapper .p-autocomplete {
    width: 100%;
  }

  .shop-article-add-to-cart-message {
    font-size: .9rem;
  }
}

@media (min-width: 1800px) {
  .shop-article-list {
    grid-template-columns: repeat(5, 1fr);
  }
}