<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container">
      <div class="filter-list-search-bar">
        <div class="filter-search">
          <p-autoComplete
            placeholder="{{ 'product.search' | translate }}"
            [(ngModel)]="searchProduct"
            [showEmptyMessage]="true"
            [suggestions]="filteredProducts"
            (completeMethod)="filterProduct($event)"
            field="title"
            [minLength]="1"
            (onSelect)="
              getProductsWithTypeAndBrandAndFormatAndCategoryAndPriceAndSearch()
            "
            (onBlur)="
              getProductsWithTypeAndBrandAndFormatAndCategoryAndPriceAndSearch()
            "
          ></p-autoComplete>
          <button
            pButton
            pRipple
            type="button"
            class="btn btn-primary-color button-search"
            (click)="
              getProductsWithTypeAndBrandAndFormatAndCategoryAndPriceAndSearch()
            "
          >
            <i class="fa fa-search"></i>
          </button>
          <div class="select-type">
            <p-multiSelect
              [options]="types"
              [(ngModel)]="selectedType"
              defaultLabel="{{ 'product.type' | translate }}"
              display="chip"
              [selectionLimit]="1"
              (onChange)="
                getProductsWithTypeAndBrandAndFormatAndCategoryAndPriceAndSearch()
              "
            ></p-multiSelect>
          </div>
        </div>
        <div
          class="filter-list"
          [ngClass]="{
            'filter-list-book':
              selectedType.includes('Livre') || selectedType.includes('Book'),
            'filter-list-video': selectedType.includes('Video')
          }"
        >
          <div *ngIf="selectedType[0] == undefined"></div>

          <div
            *ngIf="
              selectedType.includes('Livre') || selectedType.includes('Book')
            "
          >
            <p-multiSelect
              [options]="formats"
              [(ngModel)]="selectedFormat"
              defaultLabel="{{ 'product.format' | translate }}"
              optionLabel="name"
              display="chip"
              (onChange)="
                getProductsWithTypeAndBrandAndFormatAndCategoryAndPriceAndSearch()
              "
            ></p-multiSelect>
          </div>
          <div
            *ngIf="
              selectedType.includes('Livre') || selectedType.includes('Book')
            "
          >
            <p-multiSelect
              [options]="categories"
              [(ngModel)]="selectedCategory"
              defaultLabel="{{ 'product.category' | translate }}"
              optionLabel="name"
              display="chip"
              (onChange)="
                getProductsWithTypeAndBrandAndFormatAndCategoryAndPriceAndSearch()
              "
            ></p-multiSelect>
          </div>
          <div *ngIf="selectedType.includes('Video')">
            <p-multiSelect
              [options]="brands"
              [(ngModel)]="selectedBrand"
              defaultLabel="{{ 'product.brand' | translate }}"
              optionLabel="name"
              display="chip"
              (onChange)="
                getProductsWithTypeAndBrandAndFormatAndCategoryAndPriceAndSearch()
              "
            ></p-multiSelect>
          </div>
          <div>
            <p class="price-range-title">
              {{ "product.price_range" | translate }} :
              {{
                selectedPriceRange[0] + " € - " + selectedPriceRange[1] + " €"
              }}
            </p>
            <p-slider
              [(ngModel)]="selectedPriceRange"
              [range]="true"
              (onSlideEnd)="
                getProductsWithTypeAndBrandAndFormatAndCategoryAndPriceAndSearch()
              "
              [min]="0"
              [max]="maxPrice"
            ></p-slider>
          </div>
          <div class="filter-in-stock">
            <button
              pButton
              pRipple
              type="button"
              [ngClass]="{
                'p-button-primary-color': showProductsInStock,
                'btn-primary-color': showProductsInStock,
                'p-button-outline-primary-color': !showProductsInStock,
                'btn-outline-primary-color': !showProductsInStock
              }"
              (click)="updateShowProductsInStock()"
            >
              <span *ngIf="showProductsInStock">{{
                "product.only_products_in_stock" | translate
              }}</span>
              <span *ngIf="!showProductsInStock">{{
                "product.only_products_out_of_stock" | translate
              }}</span>
            </button>
          </div>

          <div>
            <button
              pButton
              pRipple
              type="button"
              class="p-button-raised p-button-just-text"
              (click)="clearAllFilter()"
            >
              {{ "product.clear_all" | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="shop-article-list">
        <div class="shop-article" *ngFor="let aProduct of products">
          <div class="shop-article-img">
            <a [routerLink]="['/products/' + aProduct.id]">
              <img src="{{ aProduct.image }}" alt="" class="img-icon"
            /></a>
            <div class="out-of-stock-message" *ngIf="aProduct.stock == 0">
              {{ "general.out_of_stock" | translate }}
            </div>
          </div>
          <div
            class="shop-article-info-title"
            [routerLink]="['/products/' + aProduct.id]"
          >
            {{ aProduct.title }}
          </div>

          <div
            class="shop-article-add-to-cart-message"
            (click)="addProductToCart(aProduct.id)"
            pRipple
            *ngIf="aProduct.stock != 0"
          >
            <i class="pi pi-shopping-cart"></i>
            <span
              >{{
                getUnitpricettcFromUnitpricehtAndTva(
                  aProduct.unitpriceht,
                  aProduct.taxe?.tva
                )
              }}
              €
            </span>
          </div>
        </div>
      </div>
      <p-paginator
        [rows]="12"
        [totalRecords]="filteredProducts.length"
        [rowsPerPageOptions]="[12, 18, 24]"
        (onPageChange)="getAllProductsByPage($event)"
      ></p-paginator>
    </div>
  </main>
  <app-footer></app-footer>
</div>
