.best-sell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 367px;
    height: 500px;

}

.best-sell-img {
    width: 300px;
    height: 404px;
    position: relative;

}

.best-sell-img:hover .img-best-sell {
    opacity: 0.6;
    transition: all 0.5s;

}

.best-sell-img:hover .article-hover-actions {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.img-best-sell {
    /* object-fit: cover; */
    width: 300px;
    height: 404px;
}

.best-sell-title {
    text-align: center;
    padding: 10px 1rem;
    height: 60px;
    display: flex;
    align-items: center;
}

.best-sell-title:hover {
    color: #30336B;
}

.best-sell-price {
    font-weight: 400;
}

.best-sell-price:hover {
    color: #30336B;
}

.all-best-sell-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.best-sell-pagination {
    display: flex;
    justify-content: center;
}

.best-sell-button {
    color: #6c757d;
    background-color: #F0F0F0;
    padding: .5rem 1rem;
    cursor: pointer;
    margin: 1rem .5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    font-weight: 400;

}

.best-sell-button:hover {
    background-color: #95CFBC;
    color: #000;
    transition: all 0.3s;
}

.best-sell-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 300px;
}

.article-hover-actions {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
}

.best-sell-img:hover .article-hover-actions {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.article-hover-actions-add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
    color: #000;
    border-radius: 15px;
}

.article-hover-actions-add-cart:hover{
    background-color: #95CFBC;
    transition: all 0.3s;


}