<header>
  <div id="top">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand pointer" [routerLink]="['/home']"
          ><img
            src="https://www.thibaultmorizet.fr/assets/logo-l2i.png"
            alt="logo-l2i"
            width="40"
        /></a>
        <a class="home-link text-uppercase active" [routerLink]="['/home']"
          >Home</a
        >
        <a class="home-link text-uppercase" [routerLink]="['/books']">Shop</a>

        <a class="home-link text-uppercase" [routerLink]="['/user']"
          >My Account</a
        >

        <div id="bag-shopping-count-container">
          <a [routerLink]="['/basket']" class="home-link text-uppercase">
            <span id="bag-shopping-count" aria-hidden="true">{{
              basket.length
            }}</span>
            My Basket</a
          >
        </div>
      </div>
    </nav>
  </div>
</header>
<main>
  <div></div>
</main>
<div id="content">
  <div class="container">
    <div class="general-best-sell-container">
      <p class="title text-center">Nos meilleures ventes</p>
      <div class="all-best-sell-container">
        <ngb-carousel
          #bestSellCarousel
          *ngIf="bookBestSell"
          [showNavigationArrows]="false"
          [keyboard]="false"
          [pauseOnHover]="true"
          [interval]="intervalCarousel"
          class="all-best-sell-container"
        >
          <ng-template
            ngbSlide
            *ngFor="let OneBook of bookBestSell"
            class="best-sell-container"
          >
            <div class="picsum-img-wrapper">
              <div class="best-sell-img">
                <img
                  src="{{ OneBook.image }}"
                  [alt]="OneBook.title"
                  class="img-best-sell pointer"
                  [routerLink]="['/books/', OneBook.id]"
                />
                <div class="article-hover-actions">
                  <div
                    class="article-hover-actions-add-cart"
                    (click)="addBookToBasket(OneBook.id)"
                  >
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="best-sell-description">
              <span
                class="best-sell-title pointer"
                [routerLink]="['/books/', OneBook.id]"
                >{{ OneBook.title }}</span
              >
              <span
                class="best-sell-price pointer"
                [routerLink]="['/books/', OneBook.id]"
                >{{ OneBook.unitprice }} €</span
              >
            </div>
          </ng-template>
        </ngb-carousel>
      </div>

      <!-- <div class="all-best-sell-container">
        <div
          class="best-sell-container"
          *ngFor="let OneBook of bestBookArray"
          [ngClass]="{
            'best-sell-first-element': bestBookArray.indexOf(OneBook) == 0,
            'best-sell-second-element': bestBookArray.indexOf(OneBook) == 1,
            'best-sell-third-element': bestBookArray.indexOf(OneBook) == 2,
            'best-sell-fourth-element': bestBookArray.indexOf(OneBook) == 3,
            'best-sell-fifth-element': bestBookArray.indexOf(OneBook) == 4
          }"
        >
          <div>
            <div class="best-sell-img">
              <img
                src="{{ bookBestSell[OneBook].image }}"
                [alt]="bookBestSell[OneBook].title"
                class="img-best-sell pointer"
                [routerLink]="['/books/', bookBestSell[OneBook].id]"
              />
              <div class="article-hover-actions">
                <div
                  class="article-hover-actions-add-cart"
                  (click)="addBookToBasket(bookBestSell[OneBook].id)"
                >
                  <i class="fa fa-shopping-cart"></i>
                </div>
              </div>
            </div>
            <div class="best-sell-description">
              <span
                class="best-sell-title pointer"
                [routerLink]="['/books/', bookBestSell[OneBook].id]"
                >{{ bookBestSell[OneBook].title }}</span
              >
              <span
                class="best-sell-price pointer"
                [routerLink]="['/books/', bookBestSell[OneBook].id]"
                >{{ bookBestSell[OneBook].unitprice }} €</span
              >
            </div>
          </div>
        </div>
      </div> -->
      <div class="best-sell-pagination">
        <div
          class="best-sell-button best-sell-button-prev"
          (click)="prevBestBook()"
        >
          <i class="far fa-arrow-left"></i> Prev
        </div>
        <div
          class="best-sell-button best-sell-button-next"
          (click)="nextBestBook()"
        >
          Next <i class="far fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
