.general-best-sell-container {
    padding: 2em 1em;
    background-color: rgba(255, 255, 255, .6);
    box-shadow: 5px 6px 13px -8px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-bottom: 0;
}

.best-sell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-sell-img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 280px;
    position: relative;
}

.best-sell-img:hover .img-best-sell {
    opacity: 0.9;
    transition: all 0.3s;

}

.best-sell-img:hover .article-hover-actions {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.img-best-sell {
    width: 200px;
    height: 280px;
}

.best-sell-title {
    text-align: center;
    padding: 10px 1rem;
    min-height: 60px;
    display: flex;
    align-items: center;
    width: 200px;
}

.best-sell-title:hover {
    color: #30336B;
}

.best-sell-price {
    font-weight: 400;
}

.best-sell-price:hover {
    color: #30336B;
}

.best-sell-pagination {
    display: flex;
    justify-content: center;
}

.best-sell-button {
    color: #6c757d;
    background-color: #F0F0F0;
    padding: .5rem 1rem;
    cursor: pointer;
    margin: 1rem .5rem;
    font-weight: 400;
    box-shadow: 0px 2px 14px -8px rgba(0, 0, 0, 0.75);
    border-radius: 10px;

}

.best-sell-button:hover {
    background-color: #30336B;
    color: #fff;
    transition: all 0.3s;
}

.best-sell-description {
    font-family: "Quicksand", Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article-hover-actions {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 15px;
}

.best-sell-img:hover .article-hover-actions {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.article-hover-actions-add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 40px;
    height: 40px;
    color: #000;
    border-radius: 15px;
}

.article-hover-actions-add-cart:hover {
    background-color: #30336B;
    color: #fff;
    transition: all 0.3s;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #000;
}

.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
    display: none;
}

.p-carousel-items-content {
    margin: 0 2rem;
}

.p-button-primary-color {
    font-family: "Quicksand", Arial, sans-serif;
    border: none;
}

.p-button-primary-color:hover {
    color: #ffffff;
    background-color: #30336B !important;
    transition: all 0.3s;
}

.fa-arrow-left {
    margin-right: .7rem;
}

.fa-arrow-right {
    margin-left: .7rem;
}

@media (min-width: 650px) {

    .carousel-item.active+.carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px !important;
    }

    .carousel-item.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px !important;

    }

    .carousel {
        width: 100%;
    }

    .carousel-inner {
        display: flex !important;
    }

    .picsum-img-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1000px) {
    .carousel-item.active+.carousel-item+.carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px !important;
    }
}

@media (min-width: 1300px) {
    .carousel-item.active+.carousel-item+.carousel-item+.carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px !important;
    }

    .best-sell-title {
        font-size: 1.2rem;
    }

    .best-sell-price {
        font-size: 1.2rem;
    }
}

@media (min-width: 1800px) {
    .carousel-item.active+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px !important;
    }

    .container {
        max-width: 1600px;
    }

    .best-sell-title {
        font-size: 1.1rem;
    }

    .best-sell-price {
        font-size: 1.1rem;
    }

    .best-sell-button {
        font-size: 1.1rem;
    }

    .best-sell-img {
        width: 250px;
        height: 320px;

    }

    .best-sell-description {
        width: 250px;
    }

    .img-best-sell {
        width: 250px;
        height: 320px;

    }

}