<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container">
      <div class="general-best-sell-container">
        <div>
          <p-carousel
            #bestSellCarousel
            [value]="bookBestSell"
            styleClass="custom-carousel"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="true"
            [autoplayInterval]="7000"
            [responsiveOptions]="responsiveOptions"
          >
            <ng-template pTemplate="header">
              <p class="title text-center">Our best sell</p>
              <p-skeleton
                class="carouselSkeleton"
                width="100%"
                height="508px"
                *ngIf="!carouselIsLoaded"
              ></p-skeleton>
            </ng-template>

            <ng-template
              let-oneBook
              pTemplate="item"
              [ngClass]="{ 'd-none': !carouselIsLoaded }"
            >
              <div class="best-sell-container">
                <div class="best-sell-img">
                  <img
                    src="{{ oneBook.image }}"
                    [alt]="oneBook.title"
                    class="img-best-sell pointer"
                    [routerLink]="['/books/', oneBook.id]"
                    (load)="carouselIsLoaded = true"
                  />
                  <div
                    class="best-sell-add-to-cart-message"
                    (click)="addBookToCart(oneBook.id)"
                    pRipple

                  >
                    <i class="pi pi-shopping-cart"></i> Add to Cart
                  </div>
                </div>

                <div class="best-sell-description">
                  <span
                    class="best-sell-title pointer"
                    [routerLink]="['/books/', oneBook.id]"
                    >{{ oneBook.title }}</span
                  >
                  <span
                    class="best-sell-price pointer"
                    [routerLink]="['/books/', oneBook.id]"
                    >{{ oneBook.unitpricettc }} € (TTC)</span
                  >
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div class="best-sell-pagination">
          <!-- p-ripple p-element p-carousel-prev p-link -->

          <button
            pButton
            pRipple
            type="button"
            class="p-button-raised p-button-primary-color best-sell-button best-sell-button-prev"
            (click)="prevBestBook()"
          >
            <i class="far fa-arrow-left"></i> Prev
          </button>
          <button
            pButton
            pRipple
            type="button"
            class="p-button-raised p-button-primary-color best-sell-button best-sell-button-next"
            (click)="nextBestBook()"
          >
            Next <i class="far fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
