.best-sell-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 367px;
    height: 500px;

}

.best-sell-img {
    width: 367px;
    height: 404px
}

.img-best-sell {
    /* object-fit: cover; */
    width: 367px;
    height: 404px;
}

.best-sell-title {
    text-align: center;
    padding: 10px 1rem;
}

.best-sell-price {
    font-weight: 400;
}

.all-best-sell-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.best-sell-pagination{
    display: flex;
    justify-content: center;
}

.best-sell-button {
    color: #6c757d ;
    background: #f8f9fa ;
    transition: all 0.3s;
    padding: .5rem 1rem;
    cursor: pointer;
    margin: 1rem .5rem;
}

.best-sell-button:hover {
    background: #4650dd;
    color: #fff;
}

.best-sell-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}