<div class="general-content">
    <app-admin-header></app-admin-header>
  
    <main id="content">
      <p-toast></p-toast>
  
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <button
            pButton
            pRipple
            label="{{ 'general.new' | translate }}"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="openNew()"
          ></button>
          <button
            pButton
            pRipple
            label="{{ 'general.delete' | translate }}"
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteSelectedBrands()"
            [disabled]="!selectedBrands || !selectedBrands.length"
          ></button>
        </ng-template>
      </p-toolbar>
  
      <p-table
        #dt
        [value]="allBrands"
        [rows]="12"
        [paginator]="true"
        [globalFilterFields]="['name']"
        [(selection)]="selectedBrands"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="{{
          'general.showing_entries_message'
            | translate
              : {
                  first: '{first}',
                  last: '{last}',
                  totalRecords: '{totalRecords}'
                }
        }}"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="manage-brands">
            <h5 class="m-0">{{ 'admin_brands.manage_brands' | translate }}</h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="{{ 'general.search' | translate }}"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="display: table-cell !important; width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th
              style="display: table-cell !important; min-width: 10rem"
              pSortableColumn="name"
            >
            {{ 'admin_brands.name' | translate }} <p-sortIcon field="name"></p-sortIcon>
            </th>
  
            <th style="display: table-cell !important"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-brand>
          <tr>
            <td>
              <p-tableCheckbox [value]="brand"></p-tableCheckbox>
            </td>
            <td>{{ brand.name }}</td>
  
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success mr-2"
                (click)="editBrand(brand)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-warning"
                (click)="deleteBrand(brand)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            {{
              "admin_brands.total_brands_message"
                | translate: { brandLength: allBrands ? allBrands.length : 0 }
            }}        </div>
        </ng-template>
      </p-table>
  
      <p-confirmDialog
        [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
        [style]="{ width: '50vw' }"
        [baseZIndex]="10000"
        rejectButtonStyleClass="p-button-outline-danger"
        acceptButtonStyleClass="p-button-valid"
        acceptLabel="{{ 'general.yes' | translate }}"
        rejectLabel="{{ 'general.no' | translate }}"
      ></p-confirmDialog>
  
      <p-dialog
        [(visible)]="brandDialog"
        [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
        [style]="{ width: '50vw' }"
        header="{{ 'admin_brands.brand_details' | translate }}"
        [modal]="true"
        styleClass="p-fluid"
        [dismissableMask]="true"
      >
        <ng-template pTemplate="content">
          <div class="field">
            <label for="name">{{ 'admin_brands.name' | translate }}</label>
            <input
              type="text"
              pInputText
              id="name"
              [(ngModel)]="brand.name"
              required
              autofocus
            />
            <small class="p-error" *ngIf="submitted && !brand.name"
              >{{ 'admin_brands.name' | translate }} {{ "general.is_required" | translate }}</small
            >
          </div>
        </ng-template>
  
        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            label="{{ 'general.cancel' | translate }}"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
          ></button>
          <button
            pButton
            pRipple
            label="{{ 'general.save' | translate }}"
            icon="pi pi-check"
            class="p-button-text"
            (click)="saveBrand()"
          ></button>
        </ng-template>
      </p-dialog>
    </main>
    <app-admin-footer></app-admin-footer>
  </div>
  