<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container">
      <div class="forgotten-password-container">
        <p class="title text-center">
          {{ "login.forgotten_password" | translate }}
        </p>

        <form #forgottenPasswordForm="ngForm" (ngSubmit)="sendNewPassword()">
          <div class="mb-3">
            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="email"
                  name="email"
                  type="email"
                  placeholder="{{ 'general.email' | translate }}"
                  pInputText
                  [(ngModel)]="emailToReset"
                />
              </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
              <button
                pButton
                pRipple
                type="submit"
                class="p-button-raised p-button-primary-color btn-primary-color"
                [disabled]="!emailToReset"
              >
              {{ "login.send_new_password" | translate }}
            </button>
            </div>
          </div>
        </form>
        <div class="link-d-flex">
          <p
            class="text-center text-underline pointer"
            [routerLink]="['/forgotten-password']"
          >
          {{ "login.forgotten_password" | translate }}
          </p>
          <p
            class="text-center text-underline pointer"
            [routerLink]="['/login']"
          >
          {{ "login.i_remember_my_password" | translate }}
          </p>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
