<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container">
      <p-confirmDialog
        [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
        [style]="{ width: '50vw' }"
        [baseZIndex]="10000"
        rejectButtonStyleClass="p-button-outline-danger"
        acceptButtonStyleClass="p-button-valid"
        acceptLabel="{{ 'general.yes' | translate }}"
        rejectLabel="{{ 'general.no' | translate }}"
      >
      </p-confirmDialog>

      <p-dialog
        *ngIf="cart.length > 0"
        header="{{ 'general.delivery_address' | translate }}"
        [(visible)]="displayModalDeliveryAddress"
        [draggable]="false"
        [resizable]="false"
        [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '50vw' }"
        [blockScroll]="true"
        [modal]="true"
        [dismissableMask]="true"
        closeIcon="pi pi-times delivery-modal-close"
        ><div class="mt-3">
          <form
            #AddressDeliveryForm="ngForm"
            role="AddressDelivery"
            (ngSubmit)="setNewAddressDelivery()"
          >
            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="deliveryAddressStreet"
                  name="street"
                  placeholder="{{ 'general.street' | translate }}"
                  type="text"
                  pInputText
                  value="{{ connectedUser.deliveryAddress?.street }}"
                  [(ngModel)]="newAddressDelivery.street"
                  required
                />
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="deliveryAddressPostalcode"
                  name="postalcode"
                  placeholder="{{ 'general.postal_code' | translate }}"
                  type="text"
                  pInputText
                  value="{{ connectedUser.deliveryAddress?.postalcode }}"
                  [(ngModel)]="newAddressDelivery.postalcode"
                  required
                />
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="deliveryAddressCity"
                  name="city"
                  placeholder="{{ 'general.city' | translate }}"
                  type="text"
                  pInputText
                  value="{{ connectedUser.deliveryAddress?.city }}"
                  [(ngModel)]="newAddressDelivery.city"
                  required
                />
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="deliveryAddressCountry"
                  name="country"
                  placeholder="{{ 'general.country' | translate }}"
                  type="text"
                  pInputText
                  value="{{ connectedUser.deliveryAddress?.country }}"
                  [(ngModel)]="newAddressDelivery.country"
                  required
                />
              </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
              <button
                pButton
                pRipple
                type="submit"
                class="p-button-raised p-button-primary-color btn-primary-color"
                [disabled]="!AddressDeliveryForm.valid"
              >
                {{ "general.save_the_changes" | translate }}
              </button>
            </div>
          </form>
        </div>
      </p-dialog>
      <p-dialog
        *ngIf="cart.length > 0"
        header="{{ 'general.billing_address' | translate }}"
        [(visible)]="displayModalBillingAddress"
        [draggable]="false"
        [resizable]="false"
        [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '50vw' }"
        [blockScroll]="true"
        [modal]="true"
        [dismissableMask]="true"
        closeIcon="pi pi-times billing-modal-close"
        ><div class="mt-3">
          <form
            #AddressBillingForm="ngForm"
            role="AddressBilling"
            (ngSubmit)="setNewAddressBilling()"
          >
            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="billingAddressStreet"
                  name="street"
                  placeholder="{{ 'general.street' | translate }}"
                  type="text"
                  pInputText
                  value="{{ connectedUser.billingAddress?.street }}"
                  [(ngModel)]="newAddressBilling.street"
                  required
                />
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="billingAddressPostalcode"
                  name="postalcode"
                  placeholder="{{ 'general.postal_code' | translate }}"
                  type="text"
                  pInputText
                  value="{{ connectedUser.billingAddress?.postalcode }}"
                  [(ngModel)]="newAddressBilling.postalcode"
                  required
                />
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="billingAddressCity"
                  name="city"
                  placeholder="{{ 'general.city' | translate }}"
                  type="text"
                  pInputText
                  value="{{ connectedUser.billingAddress?.city }}"
                  [(ngModel)]="newAddressBilling.city"
                  required
                />
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="billingAddressCountry"
                  name="country"
                  placeholder="{{ 'general.country' | translate }}"
                  type="text"
                  pInputText
                  value="{{ connectedUser.billingAddress?.country }}"
                  [(ngModel)]="newAddressBilling.country"
                  required
                />
              </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
              <button
                pButton
                pRipple
                type="submit"
                class="p-button-raised p-button-primary-color btn-primary-color"
                [disabled]="!AddressBillingForm.valid"
              >
                {{ "general.save_the_changes" | translate }}
              </button>
            </div>
          </form>
        </div>
      </p-dialog>
      <div class="cart-details-general" *ngIf="cart.length > 0">
        <p class="cart-title">
          {{ "cart_details.your_cart_total_is" | translate }}
          {{ cartTotalPriceTtc }} €
        </p>
        <p-divider></p-divider>
        <div *ngFor="let elt of cart">
          <div class="cart-details">
            <a [routerLink]="['/products/' + elt.id]">
              <img src="{{ elt.image }}" alt="" class="img-icon"
            /></a>
            <div class="cart-details-info">
              <div class="cart-details-title-quantity-price">
                <p class="cart-details-title">
                  <a [routerLink]="['/products/' + elt.id]"> {{ elt.title }}</a>
                </p>
                <div class="cart-details-quantity-price">
                  <p-inputNumber
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    inputId="horizontal"
                    spinnerMode="horizontal"
                    [allowEmpty]="false"
                    [step]="1"
                    [(ngModel)]="elt.number_ordered"
                    [min]="1"
                    [max]="elt.stock ? elt.stock : 0"
                    decrementButtonClass="p-button-outline-primary"
                    incrementButtonClass="p-button-outline-primary"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"
                    (onInput)="updateQuantity(elt.id, $event.value)"
                  >
                  </p-inputNumber>
                  <div class="cart-details-price-remove">
                    <p class="cart-details-price">
                      {{
                        getUnitpricettcFromUnitpricehtAndTva(
                          elt.unitpriceht,
                          elt.taxe?.tva
                        )
                      }}
                      € (TTC)
                    </p>
                    <p class="cart-details-price text-small">
                      {{ elt.unitpriceht }} € (HT)
                    </p>
                    <p
                      class="cart-details-remove"
                      (click)="deleteProductOfCart(elt.id)"
                    >
                      {{ "cart_details.remove" | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="cart-details-minor-info">
                <p>
                  <i class="pi pi-send"></i
                  ><span
                    >{{ "cart_details.delivery_by" | translate }}
                    <span class="bold"> {{ deliveryDate }}.</span></span
                  >
                </p>
                <p *ngIf="elt.stock && elt.stock <= 10">
                  <i class="pi pi-exclamation-triangle"></i
                  ><span
                    >{{ "cart_details.only" | translate }}
                    <span class="bold">{{ elt.stock }}</span>
                    {{ "cart_details.available" | translate }}.</span
                  >
                </p>
              </div>
            </div>
          </div>
          <p-divider class="cart-details-divider"></p-divider>
        </div>
        <div class="cart-details-addresses">
          <div
            class="cart-details-billing-address"
            *ngIf="connectedUser?.billingAddress"
          >
            <div
              class="cart-details-billing-address-title"
              (click)="showModalBillingAddress()"
            >
              {{ "general.billing_address" | translate }}
            </div>
            <div>
              {{ connectedUser.billingAddress?.street }}
            </div>
            <div>
              {{ connectedUser.billingAddress?.postalcode }}
              {{ connectedUser.billingAddress?.city }}
            </div>
            <div>
              {{ connectedUser.billingAddress?.country }}
            </div>
            <p-divider class="cart-details-divider"></p-divider>
          </div>
          <div
            class="cart-details-billing-address"
            *ngIf="!connectedUser?.billingAddress"
          >
            <div class="d-flex justify-content-center mt-2">
              <button
                pButton
                pRipple
                type="submit"
                class="p-button-raised p-button-primary-color btn-primary-color"
                (click)="showModalBillingAddress()"
              >
                {{ "cart_details.add_billing_address" | translate }}
              </button>
            </div>
            <p-divider class="cart-details-divider"></p-divider>
          </div>
          <div
            class="cart-details-delivery-address"
            *ngIf="connectedUser?.deliveryAddress"
          >
            <div
              class="cart-details-delivery-address-title"
              (click)="showModalDeliveryAddress()"
            >
              {{ "general.delivery_address" | translate }}
            </div>
            <div>
              {{ connectedUser.deliveryAddress?.street }}
            </div>
            <div>
              {{ connectedUser.deliveryAddress?.postalcode }}
              {{ connectedUser.deliveryAddress?.city }}
            </div>
            <div>
              {{ connectedUser.deliveryAddress?.country }}
            </div>
            <p-divider class="cart-details-divider"></p-divider>
          </div>
          <div
            class="cart-details-delivery-address"
            *ngIf="!connectedUser?.deliveryAddress"
          >
            <div class="d-flex align-items-center flex-column">
              <div class="field-checkbox" *ngIf="connectedUser?.billingAddress">
                <p-checkbox
                  name="use_the_same_address"
                  value="use_the_same_address"
                  inputId="sameAddress"
                  (onChange)="confirmUseSameAddress()"
                  [(ngModel)]="sameAddressCheckbox"
                  class="m-2"
                ></p-checkbox>
                <label for="sameAddress">{{
                  "cart_details.use_the_same_address_for_the_delivery_address"
                    | translate
                }}</label>
              </div>

              <button
                pButton
                pRipple
                type="submit"
                class="p-button-raised p-button-primary-color btn-primary-color my-2"
                (click)="showModalDeliveryAddress()"
              >
                {{ "cart_details.add_delivery_address" | translate }}
              </button>
            </div>
            <p-divider class="cart-details-divider"></p-divider>
          </div>
        </div>
        <div class="cart-details-total-subtotal">
          <div class="switch-container">
            {{ "general.view_prices" | translate : { prices: "HT" } }}
            <p-inputSwitch [(ngModel)]="isViewTtcTotal"></p-inputSwitch>
            {{ "general.view_prices" | translate : { prices: "TTC" } }}
          </div>

          <div class="cart-details-subtotal">
            <div *ngIf="isViewTtcTotal">
              <p>{{ "general.subtotal" | translate }} (TTC)</p>
              <p>{{ cartTotalPriceTtc }} €</p>
            </div>
            <div *ngIf="!isViewTtcTotal">
              <p>{{ "general.subtotal" | translate }} (HT)</p>
              <p>{{ cartTotalPriceHt }} €</p>
            </div>
            <div>
              <p>{{ "general.delivery_taxes" | translate }}</p>
              <p>{{ "general.free" | translate }}</p>
            </div>
            <p-divider class="cart-details-divider"></p-divider>
          </div>

          <div class="cart-details-total">
            <div *ngIf="isViewTtcTotal">
              <p>{{ "general.total" | translate }} (TTC)</p>
              <p>{{ cartTotalPriceTtc }} €</p>
            </div>
            <div *ngIf="!isViewTtcTotal">
              <p>{{ "general.total" | translate }} (HT)</p>
              <p>{{ cartTotalPriceHt }} €</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
          <button
            pButton
            pRipple
            type="submit"
            class="p-button-raised p-button-primary-color btn-primary-color"
            [disabled]="
              (connectedUser.id != undefined &&
                (!connectedUser.deliveryAddress ||
                  !connectedUser.billingAddress)) ||
              !cart ||
              cart.length == 0
            "
            (click)="checkOut()"
          >
            <span
              pTooltip="{{
                'cart_details.create_valid_addresses_to_check_out' | translate
              }}"
              [tooltipDisabled]="
                (connectedUser.deliveryAddress != undefined &&
                  connectedUser.billingAddress != undefined) ||
                connectedUser.id == undefined
              "
            >
              {{ "general.check_out" | translate }}</span
            >
          </button>
        </div>
      </div>
      <div class="cart-empty-message" *ngIf="cart.length == 0">
        <img
          id="emptyCartImg"
          src="https://l2i.thibaultmorizet.fr/assets/background-images/emptyCart.png"
          alt="emptyCartImg"
        />
        <img
          id="emptyCart2Img"
          src="https://l2i.thibaultmorizet.fr/assets/background-images/emptyCart2.png"
          alt="emptyCart2Img"
        />
        <div class="empty-cart-text-block">
          <p>{{ "cart_details.your_cart_is_empty" | translate }}</p>
          <div class="d-flex justify-content-center mt-2">
            <button
              pButton
              pRipple
              type="submit"
              class="p-button-raised p-button-primary-color btn-primary-color"
              [routerLink]="['/shop']"
            >
              {{ "general.make_a_purchase" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
