<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container" *ngIf="isLoginPage">
      <div class="login-container">
        <p class="title text-center">{{ "login.login" | translate }}</p>

        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="mb-3">
            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="email"
                  name="email"
                  type="email"
                  placeholder="{{ 'general.email' | translate }}"
                  pInputText
                  [(ngModel)]="userLogin.email"
                  [ngClass]="{ 'ng-invalid': errorEmail }"
                />
                <small class="p-error" [ngClass]="{ 'd-none': !errorEmail }">{{
                  errorEmail
                }}</small>
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <div>
                  <input
                    id="password"
                    name="password"
                    [type]="typeOfPassword"
                    placeholder="{{ 'login.password' | translate }}"
                    pInputText
                    [(ngModel)]="userLogin.password"
                    [ngClass]="{ 'ng-invalid': errorPassword }"
                  />
                  <span
                    class="toogle-password-clear"
                    (click)="tooglePasswordClear()"
                    ><i
                      class="fa-regular"
                      [ngClass]="{
                        'fa-eye-slash': !passwordIsClear,
                        'fa-eye': passwordIsClear
                      }"
                    ></i
                  ></span>
                </div>
                <small
                  class="p-error"
                  [ngClass]="{ 'd-none': !errorPassword }"
                  >{{ errorPassword }}</small
                >
              </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
              <button
                pButton
                pRipple
                type="submit"
                class="p-button-raised p-button-primary-color btn-primary-color"
                [disabled]="!userLogin.email || !userLogin.password"
              >
                {{ "login.login" | translate }}
              </button>
            </div>
          </div>
        </form>
        <div>
          <div id="gbtn" class="g_id_signin"></div>

          <button class="btn btn-facebook mt-3" (click)="signInWithFB()">
            <i class="fa-brands fa-facebook mr-1"></i>
            {{ "login.login_with_facebook" | translate }}
          </button>
        </div>
        <div class="link-d-flex">
          <p
            class="text-center text-underline pointer"
            [routerLink]="['/forgotten-password']"
          >
            {{ "login.forgotten_password" | translate }}
          </p>
          <p
            class="text-center text-underline pointer"
            (click)="toggleIsLoginPage()"
          >
            {{ "login.you_re_not_registered" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="!isLoginPage">
      <div class="register-container">
        <p class="title text-center">{{ "login.register" | translate }}</p>

        <form #registerForm="ngForm" (ngSubmit)="register()">
          <div class="mb-3">
            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="lastname"
                  name="lastname"
                  type="text"
                  placeholder="{{ 'general.lastname' | translate }}"
                  pInputText
                  [(ngModel)]="userInscription.lastname"
                  [ngClass]="{ 'ng-invalid': errorLastname }"
                  required
                  (keyup)="checkLastnamePattern()"
                />
                <small
                  class="p-error"
                  [ngClass]="{ 'd-none': !errorLastname }"
                  >{{ errorLastname }}</small
                >
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="firstname"
                  name="firstname"
                  type="text"
                  placeholder="{{ 'general.firstname' | translate }}"
                  pInputText
                  [(ngModel)]="userInscription.firstname"
                  [ngClass]="{ 'ng-invalid': errorFirstname }"
                  required
                  (keyup)="checkFirstnamePattern()"
                />
                <small
                  class="p-error"
                  [ngClass]="{ 'd-none': !errorFirstname }"
                  >{{ errorFirstname }}</small
                >
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <input
                  id="email"
                  name="email"
                  type="email"
                  placeholder="{{ 'general.email' | translate }}"
                  pInputText
                  [(ngModel)]="userInscription.email"
                  [ngClass]="{ 'ng-invalid': errorEmail }"
                  required
                  (keyup)="checkEmailPattern()"
                />
                <small class="p-error" [ngClass]="{ 'd-none': !errorEmail }">{{
                  errorEmail
                }}</small>
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <div>
                  <input
                    id="password"
                    name="password"
                    [type]="typeOfPassword"
                    placeholder="{{ 'login.password' | translate }}"
                    pInputText
                    [(ngModel)]="userInscription.password"
                    [ngClass]="{ 'ng-invalid': errorPassword }"
                    required
                    (keyup)="checkPasswordPattern()"
                  />
                  <span
                    class="toogle-password-clear"
                    (click)="tooglePasswordClear()"
                    ><i
                      class="fa-regular"
                      [ngClass]="{
                        'fa-eye-slash': !passwordIsClear,
                        'fa-eye': passwordIsClear
                      }"
                    ></i
                  ></span>
                </div>
                <small
                  class="p-error"
                  [ngClass]="{ 'd-none': !errorPassword }"
                  >{{ errorPassword }}</small
                >
              </div>
            </div>

            <div class="input-group">
              <div class="field mb-3">
                <div>
                  <input
                    id="passwordConfirm"
                    name="passwordConfirm"
                    [type]="typeOfPassword"
                    placeholder="{{
                      'login.confirm_your_password' | translate
                    }}"
                    pInputText
                    [(ngModel)]="userInscription.passwordConfirm"
                    [ngClass]="{ 'ng-invalid': errorPasswordConfirm }"
                    required
                    (keyup)="checkPasswordConfirmPattern()"
                  />
                  <span
                    class="toogle-password-clear"
                    (click)="tooglePasswordClear()"
                    ><i
                      class="fa-regular"
                      [ngClass]="{
                        'fa-eye-slash': !passwordIsClear,
                        'fa-eye': passwordIsClear
                      }"
                    ></i
                  ></span>
                </div>
                <small
                  class="p-error"
                  [ngClass]="{ 'd-none': !errorPasswordConfirm }"
                  >{{ errorPasswordConfirm }}</small
                >
              </div>
            </div>

            <div class="d-flex justify-content-end mt-2">
              <button
                pButton
                pRipple
                type="submit"
                class="p-button-raised p-button-primary-color btn-primary-color"
                [disabled]="
                  !registerForm.valid ||
                  errorEmail ||
                  errorFirstname ||
                  errorLastname ||
                  errorPassword ||
                  errorPasswordConfirm
                "
              >
                {{ "login.register" | translate }}
              </button>
            </div>
          </div>
        </form>

        <div>
          <div class="g_id_signin"></div>
          <button class="btn btn-facebook mt-3" (click)="signInWithFB()">
            <i class="fa-brands fa-facebook mr-1"></i>
            {{ "login.register_with_facebook" | translate }}
          </button>
        </div>
        <p
          class="text-center text-underline pointer"
          (click)="toggleIsLoginPage()"
        >
          {{ "login.you_already_have_an_account" | translate }}
        </p>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
