<div class="general-content">
  <app-admin-header></app-admin-header>

  <main id="content">
    <p-toast></p-toast>

    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="{{ 'general.new' | translate }}"
          icon="pi pi-plus"
          class="p-button-success mr-2"
          (click)="openNew()"
        ></button>
        <button
          pButton
          pRipple
          label="{{ 'general.delete' | translate }}"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteSelectedUsers()"
          [disabled]="!selectedUsers || !selectedUsers.length"
        ></button>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="allUsers"
      [rows]="12"
      [paginator]="true"
      [globalFilterFields]="[
        'firstname',
        'lastname',
        'email',
        'billingAddress.street',
        'billingAddress.postalCode',
        'billingAddress.city',
        'billingAddress.country',
        'deliveryAddress.street',
        'deliveryAddress.postalCode',
        'deliveryAddress.city',
        'deliveryAddress.country'
      ]"
      [(selection)]="selectedUsers"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="{{
        'general.showing_entries_message'
          | translate
            : {
                first: '{first}',
                last: '{last}',
                totalRecords: '{totalRecords}'
              }
      }}"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="manage-users">
          <h5 class="m-0">{{ "admin_users.manage_users" | translate }}</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="{{ 'general.search' | translate }}"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="display: table-cell !important; width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th
            style="display: table-cell !important; min-width: 15rem"
            pSortableColumn="firstname"
          >
            {{ "general.firstname" | translate }}
            <p-sortIcon field="firstname"></p-sortIcon>
          </th>
          <th style="display: table-cell !important" pSortableColumn="lastname">
            {{ "general.lastname" | translate }}
            <p-sortIcon field="lastname"></p-sortIcon>
          </th>
          <th style="display: table-cell !important" pSortableColumn="email">
            {{ "general.email" | translate }}
            <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th
            style="display: table-cell !important"
            pSortableColumn="billingAddress"
          >
            {{ "general.billing_address" | translate }}
            <p-sortIcon field="billingAddress"></p-sortIcon>
          </th>
          <th
            style="display: table-cell !important"
            pSortableColumn="deliveryAddress"
          >
            {{ "general.delivery_address" | translate }}
            <p-sortIcon field="deliveryAddress"></p-sortIcon>
          </th>
          <th style="display: table-cell !important"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            <p-tableCheckbox [value]="user"></p-tableCheckbox>
          </td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td *ngIf="user.billingAddress?.street">
            {{ user.billingAddress?.street }},
            {{ user.billingAddress?.postalcode }} {{ user.billingAddress?.city
            }}<br />{{ user.billingAddress?.country }}
          </td>
          <td *ngIf="!user.billingAddress?.street"></td>
          <td *ngIf="user.deliveryAddress?.street">
            {{ user.deliveryAddress?.street }},
            {{ user.deliveryAddress?.postalcode }}
            {{ user.deliveryAddress?.city }}<br />{{
              user.deliveryAddress?.country
            }}
          </td>
          <td *ngIf="!user.deliveryAddress?.street"></td>

          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editUser(user)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteUser(user)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          {{
            "admin_users.total_users_message"
              | translate : { userLength: allUsers ? allUsers.length : 0 }
          }}
        </div>
      </ng-template>
    </p-table>

    <p-confirmDialog
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '50vw' }"
      [baseZIndex]="10000"
      rejectButtonStyleClass="p-button-outline-danger"
      acceptButtonStyleClass="p-button-valid"
      acceptLabel="{{ 'general.yes' | translate }}"
      rejectLabel="{{ 'general.no' | translate }}"
    ></p-confirmDialog>

    <p-dialog
      [(visible)]="userDialog"
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '50vw' }"
      header="{{ 'admin_users.users_details' | translate }}"
      [modal]="true"
      styleClass="p-fluid"
      [dismissableMask]="true"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="firstname">{{ "general.firstname" | translate }} *</label>
          <input
            type="text"
            pInputText
            id="firstname"
            [(ngModel)]="user.firstname"
            required
            autofocus
          />
          <small class="p-error" *ngIf="submitted && !user.firstname"
            >{{ "general.firstname" | translate }}
            {{ "general.is_required" | translate }}</small
          >
        </div>

        <div class="field">
          <label for="lastname">{{ "general.lastname" | translate }} *</label>
          <input
            type="text"
            pInputText
            id="lastname"
            [(ngModel)]="user.lastname"
            required
          />
          <small class="p-error" *ngIf="submitted && !user.lastname"
            >{{ "general.lastname" | translate }}
            {{ "general.is_required" | translate }}</small
          >
        </div>

        <div class="field">
          <label for="email">{{ "general.email" | translate }} *</label>
          <input
            type="text"
            pInputText
            id="email"
            [(ngModel)]="user.email"
            required
          />
          <small class="p-error" *ngIf="submitted && !user.email"
            >{{ "general.email" | translate }}
            {{ "general.is_required" | translate }}</small
          >
        </div>

        <br />

        <div class="field">
          <label for="billingAddressStreet"
            >{{ "general.billing_address" | translate }} -
            {{ "general.street" | translate }}</label
          >
          <input
            type="text"
            pInputText
            id="billingAddressStreet"
            [(ngModel)]="updateBillingAddress.street"
          />
        </div>

        <div class="field">
          <label
            *ngIf="updateBillingAddress.street"
            for="billingAddressPostalcode"
            >{{ "general.billing_address" | translate }} -
            {{ "general.postal_code" | translate }} *</label
          >
          <p-inputMask
            type="text"
            id="billingAddressPostalcode"
            mask="99999"
            [(ngModel)]="updateBillingAddress.postalcode"
            placeholder="59000"
            *ngIf="updateBillingAddress.street"
          ></p-inputMask>
        </div>

        <div class="field">
          <label *ngIf="updateBillingAddress.street" for="billingAddressCity"
            >{{ "general.billing_address" | translate }} -
            {{ "general.city" | translate }} *</label
          >
          <input
            type="text"
            pInputText
            id="billingAddressCity"
            [(ngModel)]="updateBillingAddress.city"
            *ngIf="updateBillingAddress.street"
          />
        </div>

        <div class="field">
          <label *ngIf="updateBillingAddress.street" for="billingAddressCountry"
            >{{ "general.billing_address" | translate }} -
            {{ "general.country" | translate }} *</label
          >
          <input
            type="text"
            pInputText
            id="billingAddressCountry"
            [(ngModel)]="updateBillingAddress.country"
            *ngIf="updateBillingAddress.street"
          />
        </div>

        <br />

        <div class="field">
          <label for="deliveryAddressStreet"
            >{{ "general.delivery_address" | translate }} -
            {{ "general.street" | translate }}</label
          >
          <input
            type="text"
            pInputText
            id="deliveryAddressStreet"
            [(ngModel)]="updateDeliveryAddress.street"
          />
        </div>

        <div class="field">
          <label
            *ngIf="updateDeliveryAddress.street"
            for="deliveryAddressPostalcode"
            >{{ "general.delivery_address" | translate }} -
            {{ "general.postal_code" | translate }} *</label
          >
          <p-inputMask
            type="text"
            id="deliveryAddressPostalcode"
            mask="99999"
            [(ngModel)]="updateDeliveryAddress.postalcode"
            placeholder="59000"
            *ngIf="updateDeliveryAddress.street"
          ></p-inputMask>
        </div>

        <div class="field">
          <label *ngIf="updateDeliveryAddress.street" for="deliveryAddressCity"
            >{{ "general.delivery_address" | translate }} -
            {{ "general.city" | translate }} *</label
          >
          <input
            type="text"
            pInputText
            id="deliveryAddressCity"
            [(ngModel)]="updateDeliveryAddress.city"
            *ngIf="updateDeliveryAddress.street"
          />
        </div>

        <div class="field">
          <label
            *ngIf="updateDeliveryAddress.street"
            for="deliveryAddressCountry"
            >{{ "general.delivery_address" | translate }} -
            {{ "general.country" | translate }} *</label
          >
          <input
            type="text"
            pInputText
            id="deliveryAddressCountry"
            [(ngModel)]="updateDeliveryAddress.country"
            *ngIf="updateDeliveryAddress.street"
          />
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="{{ 'general.cancel' | translate }}"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="{{ 'general.save' | translate }}"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveUser()"
          [disabled]="
            !user.firstname ||
            !user.lastname ||
            !user.email ||
            (updateDeliveryAddress.street &&
              (!updateDeliveryAddress.postalcode ||
                !updateDeliveryAddress.city ||
                !updateDeliveryAddress.country)) ||
            (updateBillingAddress.street &&
              (!updateBillingAddress.postalcode ||
                !updateBillingAddress.city ||
                !updateBillingAddress.country))
          "
        ></button>
      </ng-template>
    </p-dialog>
  </main>
  <app-admin-footer></app-admin-footer>
</div>
