#top {
    background-color: #fff;
}

#top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-icons {
    display: flex;
    align-items: center;
    color: #30336B;
}

.navbar-icons a {
    color: #30336B;
}

.navbar-icons i {
    font-size: 20px;
}

.navbar-toggler {
    font-size: 15px;
    padding: 7px 10px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.95);
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.home-link {
    font-family: "Quicksand", Arial, sans-serif;
    color: rgba(0, 0, 0);
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
}

.home-link:hover {
    color: #30336B;
}

.home-link.active {
    color: #30336B;
    font-weight: 700;
}

#bag-shopping-count-container {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 30px;
    height: 40px;
    margin-right: 0.5rem;
}

#bag-shopping-count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 2px;
    background-color: #95CFBC;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    font-family: "Quicksand", Arial, sans-serif;
    color: #C44994;
    font-size: 0.9rem;
    font-weight: 700;
}

.btn-facebook {
    background-color: #3B5998;
    color: #fff;
    border-radius: 0.25rem;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #3B5998;
    opacity: 0.9;
}

.logo-google {
    width: 14px;
    height: 14px;
}

.btn-google {
    background-color: #fff;
    color: #303030;
    box-shadow: inset 0 0 0 1px #bfbfbf;
    border-radius: 0.25rem;
}

.btn-google:hover {
    box-shadow: inset 0 0 0 2px #868686, 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.navbar {
    padding: 15px;
}

.nav-item {
    margin: 15px 0px;
}

.element-center {
    display: flex;
    justify-content: center;
}

.visible-lg {
    display: none;
}

header{
    margin-bottom: 4rem;
}

@media (min-width: 650px) {
    .navbar-toggler {
        display: none;
    }

    .visible-lg {
        display: flex;
    }

    .navbar-nav {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .navbar-brand img {
        width: 75px;
    }

    .home-link {
        margin-right: 1.5rem;
        font-size:1rem
    }

    #top .container {
        justify-content: space-around;
    }

    .navbar-icons i {
        font-size: 25px;
    }

    #bag-shopping-count-container {
        margin-right: 1.5rem;
        width: 33px;
    }
}

@media (min-width: 1000px) {
    .home-link {
        margin-right: 2rem;
        font-size:1.5rem
    }

    .navbar-icons i {
        font-size: 30px;
    }

    #bag-shopping-count-container {
        margin-right: 1.5rem;
        width: 38px;
    }
}

@media (min-width: 1800px) {
    .navbar-brand img {
        width: 150px;
    }

    .navbar-icons i {
        font-size: 50px;
    }

    #bag-shopping-count-container {
        margin-right: 3rem;
        width: 65px;
        height: 65px;
    }

    #bag-shopping-count {
        width: 35px;
        height: 35px;
        font-size: 1.8rem;
    }

    .home-link {
        margin-right: 4rem;
        font-size:2.5rem
    }
}