body {
    margin: 0px;
}

body:has(.general-best-sell-container), body:has(.login-container), body:has(.register-container) {
    background-image: url('https://www.thibaultmorizet.fr/assets/home-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.general-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

#content {
    font-family: "Quicksand", Arial, sans-serif;
    color: rgba(0, 0, 0);
    font-size: 0.6em;
    font-weight: 700;
    margin-bottom: 4rem;
}

.img-book-details {
    max-height: 450px;
}

.rounded-xl {
    border-radius: 0.5rem !important;
}

.d-none {
    display: none;
}

.text-center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.text-underline {
    text-decoration: underline;
}

.title {
    font-size: 1.5rem;
    font-family: "Pacifico", "Quicksand", Arial, sans-serif;
    padding-bottom: 1rem;
    color: #30336B;
}

.btn-primary {
    background-color: #30336B;
    border: #252860;
}

.btn-primary:hover {
    opacity: 0.9;
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
}

.p-button-primary-color {
    font-family: "Quicksand", Arial, sans-serif;
    border: none !important;
}

.p-button-primary-color:hover {
    color: #ffffff;
    background-color: #30336B !important;
    transition: all 0.3s;
}

.btn-primary-color {
    color: #ffffff;
    background-color: #30336B !important;
    padding: .5rem 1rem;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
}

.btn-primary-color:hover {
    opacity: .9;
}

.btn-primary-color:disabled {
    opacity: .6;
}

.p-button-outline-primary-color {
    font-family: "Quicksand", Arial, sans-serif;
    border: #30336B 1px solid !important;
    background-color: #fff;
}

.p-button-outline-primary-color:hover {
    color: #30336B!important;
    background-color: #fff!important;
    border: #30336B 1px solid !important;
    transition: all 0.3s;
}

.btn-outline-primary-color {
    color: #30336B;
    background-color: #fff;
    border: #30336B 1px solid !important;
    padding: .5rem 1rem;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
}

.btn-outline-primary-color:hover {
    opacity: .9;
}

.btn-outline-primary-color:disabled {
    opacity: .6;
}

.bold {
    font-weight: 700;
}

.p-button-outline-primary {
    font-family: "Quicksand", Arial, sans-serif;
    border: none;
    background: none;
    color: #30336B;
}

.p-button-outline-primary:hover {
    border: none;
    background-color: #DADAE4 !important;
    color: #30336B !important;
    transition: all 0.5s;

}

.p-inputnumber-input {
    width: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", Arial, sans-serif;

}

.p-button-outline-danger {
    font-family: "Quicksand", Arial, sans-serif;

    border: 1px solid #dc3545;
    background-color: #fff;
    color: #dc3545;
}

.p-button-outline-danger:hover {
    border: 1px solid #dc3545 !important;
    background-color: #dc3545 !important;
    color: #fff !important;
}

.p-button-valid {
    font-family: "Quicksand", Arial, sans-serif;
    background-color: #30336B;
    border: #252860;
}

.p-button-valid:hover {
    background-color: #30336B !important;
    border: #252860 !important;
    opacity: 0.9 !important;
    box-shadow: 0px 2px 14px -8px rgba(0, 0, 0, 0.75) !important;
}

@media (min-width: 1000px) {
    .title {
        font-size: 1.8rem;
    }
}

@media (min-width: 1800px) {
    .title {
        font-size: 2.5rem;
    }
}