<div class="general-content">
  <app-admin-header></app-admin-header>

  <main id="content">
    <div class="update-subfield-div">
      <div class="placement-div"></div>
      <div class="d-flex justify-content-end mt-2" *ngIf="commentsStatut != 1">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-raised p-button-primary-color btn-primary-color"
          [routerLink]="['/admin/comments/1']"
        >
          {{ "comments.being_validated_comments" | translate }}
        </button>
      </div>
      <div class="d-flex justify-content-end mt-2" *ngIf="commentsStatut != 2">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-raised p-button-primary-color btn-primary-color"
          [routerLink]="['/admin/comments/2']"
        >
          {{ "comments.validated_comments" | translate }}
        </button>
      </div>
      <div class="d-flex justify-content-end mt-2" *ngIf="commentsStatut != 3">
        <button
          pButton
          pRipple
          type="button"
          class="p-button-raised p-button-primary-color btn-primary-color"
          [routerLink]="['/admin/comments/3']"
        >
          {{ "comments.rejected_comments" | translate }}
        </button>
      </div>
    </div>

    <p-toast></p-toast>

    <p-table
      #dt
      [value]="allComments"
      [rows]="12"
      [paginator]="true"
      [globalFilterFields]="[
        'product.title',
        'user.firstname',
        'user.lastname',
        'text'
      ]"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="{{
        'general.showing_entries_message'
          | translate
            : {
                first: '{first}',
                last: '{last}',
                totalRecords: '{totalRecords}'
              }
      }}"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="manage-comments">
          <h5 class="m-0" *ngIf="commentsStatut == 1">
            {{
              "comments.manage_being_validated_comments" | translate
            }}
          </h5>
          <h5 class="m-0" *ngIf="commentsStatut == 2">
            {{ "comments.manage_validated_comments" | translate }}
          </h5>
          <h5 class="m-0" *ngIf="commentsStatut == 3">
            {{ "comments.manage_rejected_comments" | translate }}
          </h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="{{ 'general.search' | translate }}"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th id="table-header-image" style="display: table-cell !important">
            {{ "comments.image" | translate }}
          </th>
          <th id="table-header-product-title"
            style="display: table-cell !important; min-width: 15rem"
            pSortableColumn="product.title"
          >
            {{ "comments.title" | translate }}
            <p-sortIcon field="product.title"></p-sortIcon>
          </th>
          <th id="table-header-firstname"
            style="display: table-cell !important; min-width: 15rem"
            pSortableColumn="user.firstname"
          >
            {{ "comments.user" | translate }}
            <p-sortIcon field="user.firstname"></p-sortIcon>
          </th>
          <th id="table-header-comment"
            style="display: table-cell !important; min-width: 15rem"
            pSortableColumn="text"
          >
            {{ "comments.comment" | translate }}
            <p-sortIcon field="text"></p-sortIcon>
          </th>
          <th id="table-header-createdat"
            style="display: table-cell !important; min-width: 15rem"
            pSortableColumn="createdAt"
          >
            {{ "comments.date" | translate }}
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>

          <th id="table-header-void" style="display: table-cell !important"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-comment>
        <tr>
          <td>
            <img
              [src]="comment.product.image"
              [alt]="comment.product.title"
              width="100"
              class="img-icon"
            />
          </td>
          <td>{{ comment.product.title }}</td>
          <td>{{ comment.user.firstname }} {{ comment.user.lastname }}</td>
          <td>{{ comment.text }}</td>
          <td>{{ getCommentDate(comment.createdAt) }}</td>

          <td [ngClass]="{ 'admin-comments-actions': commentsStatut == 1 }">
            <button
              pButton
              pRipple
              type="button"
              label="{{
                'comments.validate_the_comment' | translate
              }}"
              class="p-button-outlined p-button-success"
              *ngIf="commentsStatut == 1 || commentsStatut == 3"
              (click)="validateComment(comment)"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              label="{{ 'comments.reject_the_comment' | translate }}"
              class="p-button-outlined p-button-danger"
              *ngIf="commentsStatut == 1 || commentsStatut == 2"
              (click)="rejectComment(comment)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div
          class="flex align-items-center justify-content-between"
          *ngIf="commentsStatut == 1"
        >
          {{
            "comments.total_being_validated_comments_message"
              | translate
                : { commentLength: allComments ? allComments.length : 0 }
          }}
        </div>
        <div
          class="flex align-items-center justify-content-between"
          *ngIf="commentsStatut == 2"
        >
          {{
            "comments.total_validated_comments_message"
              | translate
                : { commentLength: allComments ? allComments.length : 0 }
          }}
        </div>
        <div
          class="flex align-items-center justify-content-between"
          *ngIf="commentsStatut == 3"
        >
          {{
            "comments.total_rejected_comments_message"
              | translate
                : { commentLength: allComments ? allComments.length : 0 }
          }}
        </div>
      </ng-template>
    </p-table>

    <p-confirmDialog
      [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
      [style]="{ width: '50vw' }"
      [baseZIndex]="10000"
      rejectButtonStyleClass="p-button-outline-danger"
      acceptButtonStyleClass="p-button-valid"
      acceptLabel="{{ 'general.yes' | translate }}"
      rejectLabel="{{ 'general.no' | translate }}"
    ></p-confirmDialog>
  </main>
  <app-admin-footer></app-admin-footer>
</div>
