<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>
  <main id="content">
    <img
      id="pageNotFoundImg"
      src="https://www.thibaultmorizet.fr/assets/background-images/pageNotFound.png"
      alt="pageNotFoundImg"
    />
    <div class="d-flex justify-content-end mt-2">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-raised p-button-primary-color btn-primary-color"
        [routerLink]="['/home']"
      >
        {{ "page_not_found.back_to_homepage" | translate }}
      </button>
    </div>
  </main>
  <app-footer></app-footer>
</div>
