<div class="general-content">
  <app-header></app-header>

  <main id="content">
    <h2 class="container text-primary text-center">Créer un nouveau livre</h2>
    <form #newBookForm="ngForm" (ngSubmit)="setBook()">
      <div class="mb-3">
        <label class="mb-2" for="title">Titre</label>
        <div class="input-group">
          <input
            type="text"
            placeholder="Titre"
            class="form-control mb-3"
            [(ngModel)]="newBook.title"
            name="title"
            required
          />
        </div>

        <label class="mb-2" for="summary">Description</label>
        <div class="input-group">
          <textarea
            placeholder="Description"
            class="form-control mb-3"
            [(ngModel)]="newBook.summary"
            name="summary"
            cols="30"
            rows="10"
            required
          ></textarea>
        </div>

        <label class="mb-2" for="unitPrice">Prix unitaire</label>
        <div class="input-group">
          <input
            type="number"
            step="0.01"
            min="0"
            placeholder="Prix unitaire"
            class="form-control mb-3"
            [(ngModel)]="newBook.unitprice"
            name="unitPrice"
            required
          />
        </div>

        <label class="mb-2" for="stock">Stock</label>
        <div class="input-group">
          <input
            type="number"
            step="1"
            min="0"
            placeholder="Stock"
            class="form-control mb-3"
            [(ngModel)]="newBook.stock"
            name="stock"
            required
          />
        </div>

        <label class="mb-2" for="isbn">ISBN</label>
        <div class="input-group">
          <input
            type="text"
            placeholder="ISBN"
            class="form-control mb-3"
            [(ngModel)]="newBook.isbn"
            name="isbn"
            required
          />
        </div>

        <label class="mb-2" for="year">Année de parution</label>
        <div class="input-group">
          <input
            type="text"
            placeholder="Année de parution"
            class="form-control mb-3"
            [(ngModel)]="newBook.year"
            name="year"
            required
          />
        </div>

        <fieldset>
          <legend>Format :</legend>
          <div *ngFor="let aFormat of formats">
            <input
              type="radio"
              name="format"
              id="{{ aFormat.name }}"
              [value]="aFormat"
              [(ngModel)]="newBook.format"
            />

            <label for="{{ aFormat.name }}">{{ aFormat.name }}</label>
          </div>
        </fieldset>

        <fieldset>
          <legend>Éditeur :</legend>
          <div *ngFor="let anEditor of editors">
            <input
              type="radio"
              name="editor"
              id="{{ anEditor.name }}"
              [value]="anEditor"
              [(ngModel)]="newBook.editor"
            />

            <label for="{{ anEditor.name }}">{{ anEditor.name }}</label>
          </div>
        </fieldset>

        <fieldset>
          <legend>Auteurs :</legend>
          <div *ngFor="let anAuthor of authors">
            <input
              type="checkbox"
              name="{{ anAuthor.firstname }}_{{ anAuthor.lastname }}"
              id="{{ anAuthor.firstname }}_{{ anAuthor.lastname }}"
              [(ngModel)]="anAuthor.isChecked"
            />

            <label for="{{ anAuthor.firstname }}_{{ anAuthor.lastname }}"
              >{{ anAuthor.firstname }} {{ anAuthor.lastname }}</label
            >
          </div>
        </fieldset>
        <fieldset>
          <legend>Types :</legend>
          <div *ngFor="let aType of types">
            <input
              type="checkbox"
              name="{{ aType.name }}"
              id="{{ aType.name }}"
              [(ngModel)]="aType.isChecked"
            />

            <label for="{{ aType.name }}">{{ aType.name }}</label>
          </div>
        </fieldset>

        <label class="mb-2" for="coverImage">Image de couverture</label>
        <div class="input-group">
          <input
            #imageInput
            type="file"
            accept="image/*"
            class="form-control mb-3 file-upload"
            (change)="uploadFile(imageInput)"
            name="coverImage"
            required
          />
        </div>

        <div class="d-flex justify-content-end mt-2">
          <button
            type="submit"
            class="btn btn-default btn-sm btn-primary"
            [disabled]="!newBookForm.valid"
          >
            Ajouter un livre
          </button>
        </div>
      </div>
    </form>
  </main>
  <app-footer></app-footer>
</div>
