<div class="general-content">
  <app-header></app-header>

  <main id="content">
    <div class="container" *ngIf="!connectedUser.id">
      <div class="login-container">
        <p class="title text-center">Login</p>

        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="mb-3">
            <div class="input-group">
              <input
                id="email"
                class="form-control mb-3"
                placeholder="Email"
                name="email"
                type="email"
                [(ngModel)]="userLogin.email"
                required
              />
            </div>

            <div class="input-group">
              <input
                id="password"
                class="form-control mb-3"
                placeholder="Password"
                name="password"
                type="password"
                [(ngModel)]="userLogin.password"
                required
              />
            </div>
            <div *ngIf="errorConnexion" class="mb-2 text-danger">
              {{ errorConnexion }}
            </div>

            <div class="d-flex justify-content-end mt-2">
              <button
                type="submit"
                class="btn btn-default btn-sm btn-primary"
                [disabled]="!loginForm.valid"
              >
                Login
              </button>
            </div>
          </div>
        </form>
        <div>
          <button
            type="button"
            (click)="signInWithGoogle()"
            class="btn btn-google mt-3"
          >
            <img
              src="https://www.thibaultmorizet.fr/assets/logo-google.png"
              alt="logo Google"
              class="logo-google"
            />
            Login with Google</button
          ><br />
          <button class="btn btn-facebook mt-3" (click)="signInWithFB()">
            <i class="fa-brands fa-facebook mr-1"></i> Login with Facebook
          </button>
        </div>
        <p class="text-center text-underline pointer">You're not registered</p>
      </div>
    </div>
    <div class="container" *ngIf="connectedUser.id">
      <div id="personnalData" class="my-3">
        <button type="button" (click)="logout()" class="btn btn-outline-danger">
          Logout
        </button>
        <div class="container d-flex justify-content-end">
          <form
            #personnalDataForm="ngForm"
            role="personnalData"
            (ngSubmit)="setNewPersonnalData()"
          >
            <div class="input-group">
              <input
                type="text"
                placeholder="{{ connectedUser.firstname }}"
                class="form-control"
                value="{{ connectedUser.firstname }}"
                [(ngModel)]="newUserData.firstname"
                name="Firstname"
              />
            </div>
            <div class="input-group">
              <input
                type="text"
                placeholder="{{ connectedUser.lastname }}"
                class="form-control"
                value="{{ connectedUser.lastname }}"
                [(ngModel)]="newUserData.lastname"
                name="Lastname"
              />
            </div>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                value="{{ connectedUser.email }}"
                name="Email"
                disabled
              />
            </div>
            <div class="input-group">
              <input
                type="password"
                placeholder="Insérez votre nouveau mot de passe"
                class="form-control"
                value=""
                [(ngModel)]="newUserData.password"
                name="Password"
              />
            </div>
            <div *ngIf="errorPassword" class="mb-2 text-danger">
              {{ errorPassword }}
            </div>
            <div class="input-group">
              <input
                type="password"
                placeholder="Confirmez votre nouveau mot de passe"
                class="form-control"
                value=""
                [(ngModel)]="newUserData.passwordConfirm"
                name="PasswordConfirm"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary button-update-personnal-data h-100"
            >
              Modifier
            </button>
          </form>

          <form
            #AddressBillingForm="ngForm"
            role="AddressBilling"
            (ngSubmit)="setNewAddressBilling()"
          >
            <label for="Street">Rue</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="{{ connectedUser.billingAddress?.street }}"
                class="form-control"
                value="{{ connectedUser.billingAddress?.street }}"
                [(ngModel)]="newAddressBilling.street"
                name="Street"
                required
              />
            </div>

            <label for="Postalcode">Code postal</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="{{ connectedUser.billingAddress?.postalcode }}"
                class="form-control"
                value="{{ connectedUser.billingAddress?.postalcode }}"
                [(ngModel)]="newAddressBilling.postalcode"
                name="Postalcode"
                required
              />
            </div>

            <label for="City">Ville</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="{{ connectedUser.billingAddress?.city }}"
                class="form-control"
                value="{{ connectedUser.billingAddress?.city }}"
                [(ngModel)]="newAddressBilling.city"
                name="City"
                required
              />
            </div>
            <label for="Country">Pays</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="{{ connectedUser.billingAddress?.country }}"
                class="form-control"
                value="{{ connectedUser.billingAddress?.country }}"
                [(ngModel)]="newAddressBilling.country"
                name="Country"
                required
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary button-update-billing-address h-100"
              [disabled]="!AddressBillingForm.valid"
            >
              Modifier
            </button>
          </form>

          <form
            #AddressDeliveryForm="ngForm"
            role="AddressDelivery"
            (ngSubmit)="setNewAddressDelivery()"
          >
            <label for="Street">Rue</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="{{ connectedUser.deliveryAddress?.street }}"
                class="form-control"
                value="{{ connectedUser.deliveryAddress?.street }}"
                [(ngModel)]="newAddressDelivery.street"
                name="Street"
                required
              />
            </div>

            <label for="Postalcode">Code postal</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="{{ connectedUser.deliveryAddress?.postalcode }}"
                class="form-control"
                value="{{ connectedUser.deliveryAddress?.postalcode }}"
                [(ngModel)]="newAddressDelivery.postalcode"
                name="Postalcode"
                required
              />
            </div>

            <label for="City">Ville</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="{{ connectedUser.deliveryAddress?.city }}"
                class="form-control"
                value="{{ connectedUser.deliveryAddress?.city }}"
                [(ngModel)]="newAddressDelivery.city"
                name="City"
                required
              />
            </div>

            <label for="Country">Pays</label>
            <div class="input-group">
              <input
                type="text"
                placeholder="{{ connectedUser.deliveryAddress?.country }}"
                class="form-control"
                value="{{ connectedUser.deliveryAddress?.country }}"
                [(ngModel)]="newAddressDelivery.country"
                name="Country"
                required
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary button-update-delivery-address h-100"
              [disabled]="!AddressDeliveryForm.valid"
            >
              Modifier
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
