.login-container {
    padding: 2em 1em;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    max-width: 500px;
    min-width: 290px;
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
    padding-bottom: 0;
}

.register-container {
    padding: 2em 1em;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    max-width: 500px;
    min-width: 290px;
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
    padding-bottom: 0;

}

.container:has(.login-container), .container:has(.register-container) {
    display: flex;
    justify-content: center;
}

.container:has(#personnalData) {
    display: flex;
    justify-content: space-around;
}

#personnalData {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#personnalDateImg {
    display: none;
}

.btn-facebook {
    background-color: #3B5998;
    color: #fff;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

.btn-facebook:hover {
    opacity: 0.9;
    background-color: #3B5998;
    color: #fff;
    box-shadow: 0px 2px 14px -8px rgba(0, 0, 0, 0.75);
}

.logo-google {
    width: 14px;
    height: 14px;
}

.btn-google {
    background-color: #fff;
    color: #303030;
    border-radius: 0.25rem;
}

.btn-google:hover {
    box-shadow: 0px 2px 14px -8px rgba(0, 0, 0, 0.75);
    background-color: #f0f0f0;
}


.p-inputtext {
    padding: .375rem .75rem;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field input#password {
    width: 100%;
    padding-right: 30px;
    position: relative;
}

.field input#passwordConfirm {
    width: 100%;
    padding-right: 30px;
    position: relative;
}

.toogle-password-clear {
    position: absolute;
    right: 8px;
    top: 11px;
    cursor: pointer;
    font-size: .8rem;
}

.form-control:disabled {
    opacity: 1 !important;
}

.order-delivery-address, .order-billing-address {
    padding: 1rem 0;
    border-bottom: 1px #dee2e6 solid;
}

.order-delivery-address div, .order-billing-address div {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}

.order-delivery-address-title, .order-billing-address-title {
    padding: 0 1rem;
    font-size: 1.25rem !important;
    font-weight: 400;
    width: 100%;
}

.order-total-subtotal {
    padding-top: 1rem;
}

.order-subtotal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-subtotal div {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    width: 100%;
}

.order-total div {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.25rem;
}

.order-divider {
    width: 100%;
}

.order-container {
    border: 1px #dee2e6 solid;
    padding: 1rem;
    border-radius: 15px;
    margin: 2rem 0;
}

.order-addresses-total {
    display: flex;
    flex-direction: column;
}

.order-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.order-info-date, .order-info-id {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 500;
}

.order-date, .order-id {
    color: #616161;
    font-weight: 400;

}

.order-img-icon {
    width: 3rem;
    border-radius: 10px;
}

.order-product-container {
    display: flex;
    margin: 1rem 0;
    padding: 1rem;
    border-bottom: 1px #dee2e6 solid;
}

.order-general-product {
    border: 1px #dee2e6 solid;
    padding: 1rem;
    border-radius: 15px;
    margin: 2rem 0 1rem 0;

}

.order-product-container:nth-last-child(-n+1) {
    margin-bottom: 0;
    border: none;
}

.order-product-middle-info {
    margin: 0 1rem;
}

.order-product-title {
    font-weight: 500;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.order-product-quantity {
    font-weight: 400;
    font-size: .8rem;
}

.order-product-price {
    font-weight: 400;
    font-size: .8rem;
    text-align: center;
}

.p-accordion-header-text, .p-inputtext {
    font-family: "Quicksand", Arial, sans-serif;

}

#content:has(.order-empty-message), .container:has(.order-empty-message) {
    height: 400px;
}

.order-empty-message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    height: 100%;
}

.empty-order-text-block {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 2em 1em;
    backdrop-filter: blur(2px);
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
    font-weight: 400;
}

#emptyOrderImg, #emptyOrder2Img {
    display: none;
}

@media (min-width: 650px) {
    .login-container {
        padding: 2em 2em;
        min-width: 350px;
    }

    .register-container {
        padding: 2em 2em;
        min-width: 350px;
    }

}

@media (min-width: 1000px) {
    #personnalDateImg {
        display: block;
        max-width: 500px;
    }


    #emptyOrderImg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        max-width: 400px;
    }

    #emptyOrder2Img {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        max-width: 400px;
    }

    .empty-order-text-block {
        padding: 2em 3em;
    }

    #content:has(.order-empty-message), .container:has(.order-empty-message) {
        height: 500px;
    }
}

@media (min-width: 1800px) {
    .login-container {
        padding: 2.5em 2.5em;
        min-width: 400px;
    }

    .register-container {
        padding: 2.5em 2.5em;
        min-width: 400px;
    }

    #personnalDateImg {
        max-width: 700px;
    }

    .p-accordion-tab {
        width: 450px;
    }

    #content:has(.order-empty-message), .container:has(.order-empty-message) {
        height: 650px;
    }

    #emptyOrderImg {
        max-width: 500px;
    }

    #emptyOrder2Img {
        max-width: 500px;
    }

}