<div class="general-content">
  <header>
    <div id="top">
      <nav class="navbar">
        <div class="container">
          <a class="navbar-brand pointer" [routerLink]="['/home']"
            ><img
              src="https://www.thibaultmorizet.fr/assets/logo-l2i.png"
              alt="logo-l2i"
              width="50"
          /></a>
          <a class="home-link text-uppercase active" [routerLink]="['/home']"
            >Home</a
          >
          <a class="home-link text-uppercase" [routerLink]="['/books']">Shop</a>

          <a class="home-link text-uppercase" [routerLink]="['/user']"
            >My Account</a
          >

          <div id="bag-shopping-count-container">
            <a [routerLink]="['/basket']" class="home-link text-uppercase">
              <span id="bag-shopping-count" aria-hidden="true">{{
                basket.length
              }}</span>
              My Basket</a
            >
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main id="content">
    <div class="container">
      <div class="row">
        <div id="personnalData" class="my-3">
          <div class="container d-flex justify-content-end">
            <form
              #personnalDataForm="ngForm"
              role="personnalData"
              (ngSubmit)="setNewPersonnalData()"
            >
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ connectedUser.firstname }}"
                  class="form-control"
                  value="{{ connectedUser.firstname }}"
                  [(ngModel)]="newUserData.firstname"
                  name="Firstname"
                />
              </div>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ connectedUser.lastname }}"
                  class="form-control"
                  value="{{ connectedUser.lastname }}"
                  [(ngModel)]="newUserData.lastname"
                  name="Lastname"
                />
              </div>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  value="{{ connectedUser.email }}"
                  name="Email"
                  disabled
                />
              </div>
              <div class="input-group">
                <input
                  type="password"
                  placeholder="Insérez votre nouveau mot de passe"
                  class="form-control"
                  value=""
                  [(ngModel)]="newUserData.password"
                  name="Password"
                />
              </div>
              <div *ngIf="errorPassword" class="mb-2 text-danger">
                {{ errorPassword }}
              </div>
              <div class="input-group">
                <input
                  type="password"
                  placeholder="Confirmez votre nouveau mot de passe"
                  class="form-control"
                  value=""
                  [(ngModel)]="newUserData.passwordConfirm"
                  name="PasswordConfirm"
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary button-update-personnal-data h-100"
              >
                Modifier
              </button>
            </form>

            <form
              #AddressBillingForm="ngForm"
              role="AddressBilling"
              (ngSubmit)="setNewAddressBilling()"
            >
              <label for="Street">Rue</label>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ connectedUser.billingAddress?.street }}"
                  class="form-control"
                  value="{{ connectedUser.billingAddress?.street }}"
                  [(ngModel)]="newAddressBilling.street"
                  name="Street"
                  required
                />
              </div>

              <label for="Postalcode">Code postal</label>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ connectedUser.billingAddress?.postalcode }}"
                  class="form-control"
                  value="{{ connectedUser.billingAddress?.postalcode }}"
                  [(ngModel)]="newAddressBilling.postalcode"
                  name="Postalcode"
                  required
                />
              </div>

              <label for="City">Ville</label>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ connectedUser.billingAddress?.city }}"
                  class="form-control"
                  value="{{ connectedUser.billingAddress?.city }}"
                  [(ngModel)]="newAddressBilling.city"
                  name="City"
                  required
                />
              </div>
              <label for="Country">Pays</label>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ connectedUser.billingAddress?.country }}"
                  class="form-control"
                  value="{{ connectedUser.billingAddress?.country }}"
                  [(ngModel)]="newAddressBilling.country"
                  name="Country"
                  required
                />
              </div>

              <button
                type="submit"
                class="btn btn-primary button-update-billing-address h-100"
                [disabled]="!AddressBillingForm.valid"
              >
                Modifier
              </button>
            </form>

            <form
              #AddressDeliveryForm="ngForm"
              role="AddressDelivery"
              (ngSubmit)="setNewAddressDelivery()"
            >
              <label for="Street">Rue</label>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ connectedUser.deliveryAddress?.street }}"
                  class="form-control"
                  value="{{ connectedUser.deliveryAddress?.street }}"
                  [(ngModel)]="newAddressDelivery.street"
                  name="Street"
                  required
                />
              </div>

              <label for="Postalcode">Code postal</label>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ connectedUser.deliveryAddress?.postalcode }}"
                  class="form-control"
                  value="{{ connectedUser.deliveryAddress?.postalcode }}"
                  [(ngModel)]="newAddressDelivery.postalcode"
                  name="Postalcode"
                  required
                />
              </div>

              <label for="City">Ville</label>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ connectedUser.deliveryAddress?.city }}"
                  class="form-control"
                  value="{{ connectedUser.deliveryAddress?.city }}"
                  [(ngModel)]="newAddressDelivery.city"
                  name="City"
                  required
                />
              </div>

              <label for="Country">Pays</label>
              <div class="input-group">
                <input
                  type="text"
                  placeholder="{{ connectedUser.deliveryAddress?.country }}"
                  class="form-control"
                  value="{{ connectedUser.deliveryAddress?.country }}"
                  [(ngModel)]="newAddressDelivery.country"
                  name="Country"
                  required
                />
              </div>

              <button
                type="submit"
                class="btn btn-primary button-update-delivery-address h-100"
                [disabled]="!AddressDeliveryForm.valid"
              >
                Modifier
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <nav class="navbar">
      <ul>
        <li>Contact</li>
        <li>Mentions Légales</li>
        <li>Conditions générales de ventes</li>
      </ul>
    </nav>
  </footer>
</div>
