.container:has(#personnalData) {
    display: flex;
    justify-content: space-around;
}

#personnalData {
    display: flex;
    flex-direction: column;
}

#personnalDateImg {
    display: none;
}

.p-inputtext {
    padding: .375rem .75rem;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field input#password {
    width: 100%;
    padding-right: 30px;
    position: relative;
}

.field input#passwordConfirm {
    width: 100%;
    padding-right: 30px;
    position: relative;
}

.toogle-password-clear {
    position: absolute;
    right: 8px;
    top: 11px;
    cursor: pointer;
    font-size: .8rem;
}

.form-control:disabled {
    opacity: 1 !important;
}

.order-delivery-address, .order-billing-address {
    padding: 1rem 0;
    border-bottom: 1px #dee2e6 solid;
}

.order-delivery-address div, .order-billing-address div {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}

.order-delivery-address-title, .order-billing-address-title {
    padding: 0 1rem;
    font-size: 1.25rem !important;
    font-weight: 400;
    width: 100%;
}

.order-total-subtotal {
    padding-top: 1rem;
}

.order-subtotal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-subtotal div {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    width: 100%;
}

.order-total div {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.25rem;
}

.order-divider {
    width: 100%;
}

.order-container {
    border: 1px #dee2e6 solid;
    padding: 1rem;
    border-radius: 15px;
    margin: 2rem 0;
}

.order-addresses-total {
    display: flex;
    flex-direction: column;
}

.order-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.order-info-extract-to-invoice {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.order-info-date, .order-info-id {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 500;
}

.order-date, .order-id {
    color: #616161;
    font-weight: 400;

}


.order-img-icon {
    width: 3rem;
    border-radius: 10px;
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
}

.order-product-container {
    display: flex;
    margin: 1rem 0;
    padding: 1rem 0 2rem 0;
    border-bottom: 1px #dee2e6 solid;
}

.order-general-product {
    border: 1px #dee2e6 solid;
    padding: 1rem;
    border-radius: 15px;
    margin: 2rem 0 1rem 0;

}

.order-product-container:nth-last-child(-n+1) {
    margin-bottom: 0;
    border: none;
}

.order-product-middle-info {
    margin: 0 1rem;
}

.order-product-title {
    font-weight: 500;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.order-product-quantity {
    font-weight: 400;
    font-size: .8rem;
}

.order-product-price>p {
    font-weight: 400;
    font-size: .8rem;
    text-align: left;
    margin: 0;
}

.p-accordion-header-text, .p-inputtext {
    font-family: "Quicksand", Arial, sans-serif;

}

#content:has(.order-empty-message), .container:has(.order-empty-message) {
    height: 400px;
}

.order-empty-message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    height: 100%;
}

.empty-order-text-block {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 2em 1em;
    backdrop-filter: blur(2px);
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
    font-weight: 400;
}

#emptyOrderImg, #emptyOrder2Img {
    display: none;
}

.order-product-price>p.text-small {
    font-size: .6rem;
}

@media (min-width: 650px) {
    .order-product-price>p {
        font-size: 1rem;
    }

    .order-product-price>p.text-small {
        font-size: .7rem;
    }
}

@media (min-width: 1000px) {
    .order-product-container {
        justify-content: space-around;
        align-items: center;
    }

    .order-product-container div:nth-last-child(2) {
        margin-right: auto;
    }

    .order-img-icon {
        width: 150px;
    }

    .order-product-middle-info, .order-product-price {
        padding: 2rem;
    }

    .order-product-price>p.text-small {
        font-size: .9rem;
    }

    .order-product-title, .order-product-quantity, .order-product-price>p {
        font-size: 1.1rem;
    }

    #personnalDateImg {
        display: block;
        max-width: 500px;
    }

    #emptyOrderImg {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        max-width: 400px;
    }

    #emptyOrder2Img {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        max-width: 400px;
    }

    .empty-order-text-block {
        padding: 2em 3em;
    }

    #content:has(.order-empty-message), .container:has(.order-empty-message) {
        height: 500px;
    }

    .order-addresses-total {
        flex-direction: row;
        justify-content: space-between;
    }

    .order-addresses-total .order-addresses {
        width: 30%;
    }

    .order-addresses-total .order-total-subtotal {
        width: 50%;
    }

    .order-billing-address {
        border-bottom: none;
    }
}

@media (min-width: 1800px) {
    #personnalDateImg {
        max-width: 700px;
    }

    .p-accordion-tab {
        width: 450px;
    }

    #content:has(.order-empty-message), .container:has(.order-empty-message) {
        height: 650px;
    }

    #emptyOrderImg {
        max-width: 500px;
    }

    #emptyOrder2Img {
        max-width: 500px;
    }

}