.login-container {
    padding: 2em 1em;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    max-width: 500px;
    min-width: 290px;
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
    padding-bottom: 0;
}

.register-container {
    padding: 2em 1em;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    max-width: 500px;
    min-width: 290px;
    box-shadow: -1px 2px 15px -6px rgba(0, 0, 0, 0.75);
    padding-bottom: 0;

}

.container:has(.login-container), .container:has(.register-container) {
    display: flex;
    justify-content: center;
}

.container:has(#personnalData) {
    display: flex;
    justify-content: space-around;
}

#personnalData {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#personnalDateImg {
    display: none;
}

.btn-facebook {
    background-color: #3B5998;
    color: #fff;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

.btn-facebook:hover {
    opacity: 0.9;
    background-color: #3B5998;
    color: #fff;
    box-shadow: 0px 2px 14px -8px rgba(0, 0, 0, 0.75);
}

.logo-google {
    width: 14px;
    height: 14px;
}

.btn-google {
    background-color: #fff;
    color: #303030;
    border-radius: 0.25rem;
}

.btn-google:hover {
    box-shadow: 0px 2px 14px -8px rgba(0, 0, 0, 0.75);
    background-color: #f0f0f0;
}


.p-inputtext {
    padding: .375rem .75rem;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field input#password {
    width: 100%;
    padding-right: 30px;
    position: relative;
}

.field input#passwordConfirm {
    width: 100%;
    padding-right: 30px;
    position: relative;
}

.toogle-password-clear {
    position: absolute;
    right: 8px;
    top: 11px;
    cursor: pointer;
    font-size: .8rem;
}

.form-control:disabled {
    opacity: 1 !important;
}

.p-button-outline-danger {
    font-family: "Quicksand", Arial, sans-serif;

    border: 1px solid #dc3545;
    background-color: #fff;
    color: #dc3545;
}

.p-button-outline-danger:hover {
    border: 1px solid #dc3545 !important;
    background-color: #dc3545 !important;
    color: #fff !important;
}

.p-button-valid {
    font-family: "Quicksand", Arial, sans-serif;
    background-color: #30336B;
    border: #252860;
}

.p-button-valid:hover {
    background-color: #30336B !important;
    border: #252860 !important;
    opacity: 0.9 !important;
    box-shadow: 0px 2px 14px -8px rgba(0, 0, 0, 0.75) !important;
}

@media (min-width: 650px) {
    .login-container {
        padding: 2em 2em;
        min-width: 350px;
    }

    .register-container {
        padding: 2em 2em;
        min-width: 350px;
    }

}

@media (min-width: 1000px) {
    #personnalDateImg {
        display: block;
        max-width: 500px;
    }

}

@media (min-width: 1800px) {
    .login-container {
        padding: 2.5em 2.5em;
        min-width: 400px;
    }

    .register-container {
        padding: 2.5em 2.5em;
        min-width: 400px;
    }

    #personnalDateImg {
        max-width: 700px;
    }

    .p-accordion-tab {
        width: 450px;
    }

}