<div class="general-content">
  <app-header [cartLength]="cart.length"></app-header>

  <main id="content">
    <div class="container" *ngIf="!isOrderPage">
      <img
        id="personnalDateImg"
        src="https://www.thibaultmorizet.fr/assets/personalData.png"
        alt="personnalDataImg"
      />

      <div>
        <p-confirmDialog
          [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
          [style]="{ width: '50vw' }"
          [baseZIndex]="10000"
          rejectButtonStyleClass="p-button-outline-danger"
          acceptButtonStyleClass="p-button-valid"
          acceptLabel="{{ 'general.yes' | translate }}"
          rejectLabel="{{ 'general.no' | translate }}"
        >
        </p-confirmDialog>
        <div class="d-flex justify-content-end mt-2 px-5">
          <button
            pButton
            pRipple
            type="submit"
            class="p-button-raised p-button-primary-color btn-primary-color"
            *ngIf="connectedUser.id"
            (click)="isOrderPage = !isOrderPage"
          >
            <span>{{ "my_account.view_pervious_orders" | translate }}</span>
          </button>
        </div>
        <div id="personnalData" class="my-3">
          <p-accordion>
            <p-accordionTab
              header="{{ 'my_account.user_personnal_data' | translate }}"
              [selected]="connectedUser.token == null"
              [disabled]="connectedUser.token != null"
            >
              <form
                #personnalDataForm="ngForm"
                role="personnalData"
                (ngSubmit)="setNewPersonnalData()"
              >
                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="firstname"
                      name="firstname"
                      placeholder="{{ connectedUser.firstname }}"
                      type="text"
                      pInputText
                      value="{{ connectedUser.firstname }}"
                      [(ngModel)]="newUserData.firstname"
                      required
                    />
                  </div>
                </div>

                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="lastname"
                      name="lastname"
                      placeholder="{{ connectedUser.lastname }}"
                      type="text"
                      pInputText
                      value="{{ connectedUser.lastname }}"
                      [(ngModel)]="newUserData.lastname"
                      required
                    />
                  </div>
                </div>

                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="email"
                      name="email"
                      placeholder="{{ connectedUser.email }}"
                      type="email"
                      pInputText
                      value="{{ connectedUser.email }}"
                      [(ngModel)]="newUserData.email"
                      class="form-control"
                      disabled
                    />
                  </div>
                </div>

                <div class="input-group">
                  <div class="field mb-3">
                    <div>
                      <input
                        id="password"
                        name="password"
                        [type]="passwordType"
                        placeholder="{{
                          'my_account.insert_your_new_password' | translate
                        }}"
                        pInputText
                        [(ngModel)]="newUserData.password"
                        class="form-control"
                        [ngClass]="{ 'ng-invalid': errorPassword }"
                        (keyup)="checkUpdatePasswordPattern()"
                      />
                      <span
                        class="toogle-password-clear"
                        (click)="tooglePasswordClear()"
                        ><i
                          class="fa-regular"
                          [ngClass]="{
                            'fa-eye-slash': !passwordIsClear,
                            'fa-eye': passwordIsClear
                          }"
                        ></i
                      ></span>
                    </div>
                    <small
                      class="p-error"
                      [ngClass]="{ 'd-none': !errorPassword }"
                      >{{ errorPassword }}</small
                    >
                  </div>
                </div>

                <div class="input-group">
                  <div class="field mb-3">
                    <div>
                      <input
                        id="passwordConfirm"
                        name="passwordConfirm"
                        [type]="passwordType"
                        placeholder="{{
                          'my_account.confirm_your_new_password' | translate
                        }}"
                        pInputText
                        [(ngModel)]="newUserData.passwordConfirm"
                        [ngClass]="{ 'ng-invalid': errorPasswordConfirm }"
                        (keyup)="checkUpdatePasswordConfirmPattern()"
                      />
                      <span
                        class="toogle-password-clear"
                        (click)="tooglePasswordClear()"
                        ><i
                          class="fa-regular"
                          [ngClass]="{
                            'fa-eye-slash': !passwordIsClear,
                            'fa-eye': passwordIsClear
                          }"
                        ></i
                      ></span>
                    </div>
                    <small
                      class="p-error"
                      [ngClass]="{ 'd-none': !errorPasswordConfirm }"
                      >{{ errorPasswordConfirm }}</small
                    >
                  </div>
                </div>

                <div class="d-flex justify-content-end mt-2">
                  <button
                    pButton
                    pRipple
                    type="submit"
                    class="p-button-raised p-button-primary-color btn-primary-color"
                    [disabled]="
                      !personnalDataForm.valid ||
                      errorEmail ||
                      errorFirstname ||
                      errorLastname ||
                      errorPassword ||
                      errorPasswordConfirm
                    "
                  >
                    {{ "general.save_the_changes" | translate }}
                  </button>
                </div>
              </form>
            </p-accordionTab>
            <p-accordionTab
              header="{{ 'general.billing_address' | translate }}"
              [selected]="connectedUser.token != null"
            >
              <form
                #AddressBillingForm="ngForm"
                role="AddressBilling"
                (ngSubmit)="setNewAddressBilling()"
              >
                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="street"
                      name="street"
                      placeholder="{{ 'general.street' | translate }}"
                      type="text"
                      pInputText
                      value="{{ connectedUser.billingAddress?.street }}"
                      [(ngModel)]="newAddressBilling.street"
                      required
                    />
                  </div>
                </div>

                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="postalcode"
                      name="postalcode"
                      placeholder="{{ 'general.postal_code' | translate }}"
                      type="text"
                      pInputText
                      value="{{ connectedUser.billingAddress?.postalcode }}"
                      [(ngModel)]="newAddressBilling.postalcode"
                      required
                    />
                  </div>
                </div>

                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="city"
                      name="city"
                      placeholder="{{ 'general.city' | translate }}"
                      type="text"
                      pInputText
                      value="{{ connectedUser.billingAddress?.city }}"
                      [(ngModel)]="newAddressBilling.city"
                      required
                    />
                  </div>
                </div>

                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="country"
                      name="country"
                      placeholder="{{ 'general.country' | translate }}"
                      type="text"
                      pInputText
                      value="{{ connectedUser.billingAddress?.country }}"
                      [(ngModel)]="newAddressBilling.country"
                      required
                    />
                  </div>
                </div>

                <div class="d-flex justify-content-end mt-2">
                  <button
                    pButton
                    pRipple
                    type="submit"
                    class="p-button-raised p-button-primary-color btn-primary-color"
                    [disabled]="!AddressBillingForm.valid"
                  >
                    {{ "general.save_the_changes" | translate }}
                  </button>
                </div>
              </form>
            </p-accordionTab>
            <p-accordionTab
              header="{{ 'general.delivery_address' | translate }}"
            >
              <form
                #AddressDeliveryForm="ngForm"
                role="AddressDelivery"
                (ngSubmit)="setNewAddressDelivery()"
              >
                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="street"
                      name="street"
                      placeholder="{{ 'general.street' | translate }}"
                      type="text"
                      pInputText
                      value="{{ connectedUser.deliveryAddress?.street }}"
                      [(ngModel)]="newAddressDelivery.street"
                      required
                    />
                  </div>
                </div>

                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="postalcode"
                      name="postalcode"
                      placeholder="{{ 'general.postal_code' | translate }}"
                      type="text"
                      pInputText
                      value="{{ connectedUser.deliveryAddress?.postalcode }}"
                      [(ngModel)]="newAddressDelivery.postalcode"
                      required
                    />
                  </div>
                </div>

                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="city"
                      name="city"
                      placeholder="{{ 'general.city' | translate }}"
                      type="text"
                      pInputText
                      value="{{ connectedUser.deliveryAddress?.city }}"
                      [(ngModel)]="newAddressDelivery.city"
                      required
                    />
                  </div>
                </div>

                <div class="input-group">
                  <div class="field mb-3">
                    <input
                      id="country"
                      name="country"
                      placeholder="{{ 'general.country' | translate }}"
                      type="text"
                      pInputText
                      value="{{ connectedUser.deliveryAddress?.country }}"
                      [(ngModel)]="newAddressDelivery.country"
                      required
                    />
                  </div>
                </div>

                <div class="d-flex justify-content-end mt-2">
                  <button
                    pButton
                    pRipple
                    type="submit"
                    class="p-button-raised p-button-primary-color btn-primary-color"
                    [disabled]="!AddressDeliveryForm.valid"
                  >
                    {{ "general.save_the_changes" | translate }}
                  </button>
                </div>
              </form>
            </p-accordionTab>
          </p-accordion>
          <div class="w-100 d-flex justify-content-around">
            <button
              type="button"
              (click)="confirmDeleteAccount()"
              class="btn btn-danger mt-3"
            >
              {{ "my_account.delete_my_account" | translate }}
            </button>

            <button
              type="button"
              (click)="logout()"
              class="btn btn-outline-danger mt-3"
            >
              {{ "my_account.logout" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="isOrderPage">
      <div class="d-flex justify-content-end mt-2 px-5">
        <button
          pButton
          pRipple
          type="submit"
          class="p-button-raised p-button-primary-color btn-primary-color"
          *ngIf="connectedUser.id"
          (click)="isOrderPage = !isOrderPage"
        >
          <span>{{ "my_account.view_personnal_data" | translate }}</span>
        </button>
      </div>
      <div class="order-list-container" *ngIf="orders.length > 0">
        <div class="order-container" *ngFor="let anOrder of orders">
          <div class="order-info">
            <div class="order-info-date">
              <div>{{ "my_account.order_date" | translate }}</div>
              <div class="order-date">{{ getOrderDate(anOrder.date) }}</div>
            </div>
            <div class="order-info-id">
              <div>{{ "my_account.order_number" | translate }}</div>
              <div class="order-id">{{ anOrder.id }}</div>
            </div>
          </div>
          <div class="order-general-product">
            <div
              class="order-product-container"
              *ngFor="let aBook of anOrder.booklist"
            >
              <div>
                <img src="{{ aBook.image }}" alt="" class="order-img-icon" />
              </div>
              <div class="order-product-middle-info">
                <div class="order-product-title">{{ aBook.title }}</div>
                <div class="order-product-quantity">
                  {{ "general.quantity" | translate }} :
                  {{ aBook.number_ordered }}
                </div>
              </div>
              <div class="order-product-price">{{ aBook.unitpricettc }} €</div>
            </div>
          </div>
          <div class="order-addresses-total">
            <div class="order-addresses">
              <div class="order-delivery-address">
                <div class="order-delivery-address-title">
                  {{ "general.delivery_address" | translate }}
                </div>
                <div
                  [innerHTML]="replaceInAddress(anOrder.deliveryaddress)"
                ></div>
              </div>

              <div class="order-billing-address">
                <div class="order-billing-address-title">
                  {{ "general.billing_address" | translate }}
                </div>
                <div
                  [innerHTML]="replaceInAddress(anOrder.billingaddress)"
                ></div>
              </div>
            </div>

            <div class="order-total-subtotal">
              <div class="order-subtotal">
                <div>
                  <p>{{ "general.subtotal" | translate }} (TTC)</p>
                  <p>{{ anOrder.totalprice }} €</p>
                </div>

                <div>
                  <p>{{ "general.delivery_taxes" | translate }}</p>
                  <p>{{ "general.free" | translate }}</p>
                </div>
                <p-divider class="order-divider"></p-divider>
              </div>

              <div class="order-total">
                <div>
                  <p>{{ "general.total" | translate }}</p>
                  <p>{{ anOrder.totalprice }} €</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="order-empty-message" *ngIf="orders.length == 0">
        <img
          id="emptyOrderImg"
          src="https://www.thibaultmorizet.fr/assets/emptyOrder.png"
          alt="emptyOrderImg"
        />
        <img
          id="emptyOrder2Img"
          src="https://www.thibaultmorizet.fr/assets/emptyOrder2.png"
          alt="emptyOrder2Img"
        />
        <div class="empty-order-text-block">
          <p>{{ "my_account.you_havn_t_any_orders" | translate }}</p>
          <div class="d-flex justify-content-center mt-2">
            <button
              pButton
              pRipple
              type="submit"
              class="p-button-raised p-button-primary-color btn-primary-color"
              [routerLink]="['/shop']"
            >
              {{ "general.make_a_purchase" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
